<% showTools ||= false %>

<% rL = @evaluations.length %>
<% if rL === 0 %>
  <%= render '/layouts/emptytable', :resources => t("evaluations.name.plural").downcase %>
<% else %>
  <table id="ev_table" cellspacing='0' class="loep_table">
    <thead>
    <tr>
      <th><%=t("los.name.one")%></th>
      <th><%=t("evmethods.name.one")%></th>
      <th><%=t("users.reviewer.one")%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @evaluations.each do |ev| %>
      <tr>
        <td><a href="<%=lo_path(ev.lo)%>"><%= ev.lo.name %></a></td>
        <td class="tdcenter">
          <a href="<%=ev.evmethod.documentation_path%>"><span><%=ev.evmethod.name%></span></a>
        </td>
        <td><%=ev.readable_reviewer%></td>
        <td class="tdcenter tdrshow">
          <a href="<%=ev.evaluation_path%>"><span class="glyphicon glyphicon-eye-open"></span></a>
        </td>
        <td class="tdcenter tdedit">
            <a href="<%=ev.edit_evaluation_path%>"><span class="glyphicon glyphicon-edit"></span> <%=t("words.edit")%></a>
        </td>
        <td class="tdcenter tddestroy">
          <a href="<%=ev.evaluation_path%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><span class="glyphicon glyphicon-trash"></span> <%=t("words.remove")%></a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>


<% if showTools %>

<script type="text/javascript">

  $(document).ready(function(){

    //////////////////
    // Table Sorter
    //////////////////

    var iDisplayLength = LOEP.Storage.get("EvaluationsTable_iDisplayLength") || -1;

    //DOC: http://datatables.net
    var resTable = $("#ev_table").dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "aaSorting": [[ 0, "asc" ]],
      "aoColumnDefs": [
        { 'bSortable': false, 'aTargets': [ 3,4,5 ] },
        { "bSearchable": false, "aTargets": [ 3,4,5 ] }
      ],
      "sDom": '<"H"lfr><"F"ip>t',
      "iDisplayLength": iDisplayLength,
      "oLanguage": { <%= render "application/oLanguage"%> }
    });

    //DataTable events: http://datatables.net/docs/DataTables/1.9.4/#page
    $('#ev_table_length').on('change', function(e){
      var iDisplayLength = parseInt($(this).find("select").val());
      LOEP.Storage.add("EvaluationsTable_iDisplayLength",iDisplayLength);
    });

  });

</script>

<% end %>