<% rL = @evaluations.length %>
<% if rL === 0 %>
  <%= render '/layouts/emptytable', :resources => "evaluations" %>
<% else %>
  <table cellspacing='0' class="loep_table">
    <tr>
      <th>Learning Object</th>
      <th>Evaluation Method</th>
      <th>Reviewer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @evaluations.each do |ev| %>
      <tr>
        <td><a href="<%=lo_path(ev.lo)%>"><%= ev.lo.name %></a></td>
        <td>
          <span><%=ev.evmethod.name%></span>
        </td>
        <td>
          <a href="<%=user_path(ev.user)%>"><%=ev.user.name%></a>
        </td>
        <td class="tdcenter tdrshow">
          <a href="<%=ev.evaluation_path%>"><span class="glyphicon glyphicon-eye-open"></span></a>
        </td>
        <td class="tdcenter tdedit">
            <a href="<%=ev.edit_evaluation_path%>"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </td>
        <td class="tdcenter tddestroy">
          <a href="<%=ev.evaluation_path%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><span class="glyphicon glyphicon-trash"></span> Remove</a>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>