<% eL = @evaluations.length %>
<% if eL === 0 %>
  <%= render '/application/emptytable', :fullHTMLmessage => ("<p>"+t("evaluations.message.no_evaluations")+"</p>") %>
<% else %>
  <table cellspacing='0' class="loep_table">
    <tr>
      <th><%=t("los.name.one")%></th>
      <th><%=t("evmethods.name.one")%></th>
      <th></th>
      <th></th>
    </tr>
    <% @evaluations.each do |ev| %>
      <tr>
        <td><a href="<%=lo_path(ev.lo)%>"><%= ev.lo.name %></a></td>
        <td class="tdcenter">
          <a href="<%=ev.evmethod.documentation_path%>"><span><%=ev.evmethod.name%></span></a>
        </td>
        <td class="tdcenter tdrshow">
          <% unless ev.automatic? %>
            <a href="<%=ev.evaluation_path%>"><span class="glyphicon glyphicon-eye-open"></span></a>
          <% end %>
        </td>
        <td class="tdcenter tdedit">
          <% if can?(:update, ev) and !ev.automatic? %>
            <a href="<%=ev.edit_evaluation_path%>"><span class="glyphicon glyphicon-edit"></span> <%=t("dictionary.edit")%></a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>