<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @evaluation.user_id %>
</p>

<p>
  <b>Assignment:</b>
  <%= @evaluation.assignment_id %>
</p>

<p>
  <b>Lo:</b>
  <%= @evaluation.lo_id %>
</p>

<p>
  <b>Evmethod:</b>
  <%= @evaluation.evmethod_id %>
</p>

<p>
  <b>Completed at:</b>
  <%= @evaluation.completed_at %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
