<!-- The individual checkbox information is stored in the following slots: item27-item35 -->
<%item5checkbox1Value = @evaluation.send("item27")%>
<%item5checkbox2Value = @evaluation.send("item28")%>
<%item5checkbox3Value = @evaluation.send("item29")%>
<%item5checkbox4Value = @evaluation.send("item30")%>
<%item5checkbox5Value = @evaluation.send("item31")%>
<%item5checkbox6Value = @evaluation.send("item32")%>
<%item5checkbox7Value = @evaluation.send("item33")%>
<%item5checkbox8Value = @evaluation.send("item34")%>
<%item5checkbox9Value = @evaluation.send("item35")%>

<%= f.hidden_field "item27", :value => item5checkbox1Value, :class => "skipValidation" %>
<%= f.hidden_field "item28", :value => item5checkbox2Value, :class => "skipValidation" %>
<%= f.hidden_field "item29", :value => item5checkbox3Value, :class => "skipValidation" %>
<%= f.hidden_field "item30", :value => item5checkbox4Value, :class => "skipValidation" %>
<%= f.hidden_field "item31", :value => item5checkbox5Value, :class => "skipValidation" %>
<%= f.hidden_field "item32", :value => item5checkbox6Value, :class => "skipValidation" %>
<%= f.hidden_field "item33", :value => item5checkbox7Value, :class => "skipValidation" %>
<%= f.hidden_field "item34", :value => item5checkbox8Value, :class => "skipValidation" %>
<%= f.hidden_field "item35", :value => item5checkbox9Value, :class => "skipValidation" %>

<p class="input_wrapper">
  <input nItem="27" value="1" group="1" type="checkbox" class="skipValidation" <%= item5checkbox1Value==1 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span>The organization of <b>few/no</b> pages is clear.</span>
</p>
<p class="input_wrapper">
  <input nItem="28" value="2" group="1" type="checkbox" class="skipValidation" <%= item5checkbox2Value==1 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span>The organization of <b>some</b> pages is clear.</span>
</p>
<p class="input_wrapper">
  <input nItem="29" value="3" group="1" type="checkbox" class="skipValidation" <%= item5checkbox3Value==1 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span>The organization of <b>most/all</b> pages is clear.</span>
</p>

<p class="input_wrappers_header">&nbsp;</p>

<p class="input_wrapper">
  <input nItem="30" value="1" group="2" type="checkbox" class="skipValidation" <%= item5checkbox4Value==1 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span>The pages are <b>very</b> cluttered.</span>
</p>
<p class="input_wrapper">
  <input nItem="31" value="2" group="2" type="checkbox" class="skipValidation" <%= item5checkbox5Value==1 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span>The pages are <b>somewhat</b> cluttered.</span>
</p>
<p class="input_wrapper">
  <input nItem="32" value="3" group="2" type="checkbox" class="skipValidation" <%= item5checkbox6Value==1 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span>The pages are <b>not at all</b> cluttered.</span>
</p>

<p class="input_wrappers_header">&nbsp;</p>

<p class="input_wrapper">
  <input nItem="33" value="1" group="3" type="checkbox" class="skipValidation" <%= item5checkbox4Value==1 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span><b>Few/No</b> page components are well placed and easy to see.</span>
</p>
<p class="input_wrapper">
  <input nItem="34" value="2" group="3" type="checkbox" class="skipValidation" <%= item5checkbox5Value==1 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span><b>Some</b> page components are well placed and easy to see.</span>
</p>
<p class="input_wrapper">
  <input nItem="35" value="3" group="3" type="checkbox" class="skipValidation" <%= item5checkbox6Value==1 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span><b>All</b> page components are well placed and easy to see.</span>
</p>

<% if !readonly %>
  <script type="text/javascript">
    $(document).ready(function(){
      loadEventsForItemWithGroups("5");
    });
  </script>
<% end %>