<p class="input_wrapper">
  <input value="1" type="checkbox" class="skipValidation" <%= value==1 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span><%=raw I18n.t("evmethods.loem.item1.form.a")%>.</span>
</p>
<p class="input_wrapper">
  <input value="2" type="checkbox" class="skipValidation" <%= value==2 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span><%=raw I18n.t("evmethods.loem.item1.form.b")%>.</span>
</p>
<p class="input_wrapper">
  <input value="3" type="checkbox" class="skipValidation" <%= value==3 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span><%=raw I18n.t("evmethods.loem.item1.form.c")%>.</span>
</p>

<% if !readonly %>
  <script type="text/javascript">
    $(document).ready(function(){
      loadEventsForSimpleItem("1");
    });
  </script>
<% end %>






 
