<p class="input_wrapper">
  <input value="1" type="checkbox" class="skipValidation" <%= value==1 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span> The language (words used, vocabulary, sentence structure)  is appropriate for the age , reading level and interests of the expected users <b>rarely/ none of the time</b>.</span>
</p>
<p class="input_wrapper">
  <input value="2" type="checkbox" class="skipValidation" <%= value==2 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span>The language (words used, vocabulary, sentence structure)  is appropriate for the age , reading level and interests of the expected users <b>some of the time</b>.</span>
</p>
<p class="input_wrapper">
  <input value="3" type="checkbox" class="skipValidation" <%= value==3 ? "checked='checked'" : "" %> <%= readonly ? "disabled=\"disabled\"" : ""%>></input>
  <span> The language (words used, vocabulary, sentence structure)  is appropriate for the age , reading level and interests of the expected users <b>all/most of the time</b>.</span>
</p>

<% if !readonly %>
  <script type="text/javascript">
    $(document).ready(function(){
      loadEventsForSimpleItem("17");
    });
  </script>
<% end %>
