<div class="loep_form_wrapper new_assignment_form">
  <p class="form_before_button">&nbsp;</p>

  <%= form_for(@assignment) do |f| %>
    
    <div class="field">
      <%= f.label :lo_id %><br />
      <%= f.number_field :lo_id %>
    </div>

    <div class="field">
      <%= f.label :user_id %><br />
      <%= f.number_field :user_id %>
    </div>

    <p class="form_legend">Evaluation Methods</p>
    <%= f.select :emethods, options_for_select(@options_select["eMethods"],@assignment.getEMethods), {} ,{ :multiple => true, :size => 2, :class=>'loep_input' } %>

    <p class="form_legend">Description</p>
    <%= f.text_area :description, :class=>'loep_input' %>

    <% if !@assignment.status.nil? %>
      <p class="form_legend">Status</p>
      <%= f.select :status, options_for_select(@options_select["status"],@assignment.status || "Pending"), {} ,{ :class=>'loep_input' } %>
    <% end %>

    <% if !@assignment.completed_at.nil? %>
      <p class="form_legend">Completion Date</p>
      <%=text_field_tag "assignment[completed_at]",@assignment.readable_completed_at, :class=>'loep_input', :id=>"completed_at_datepicker" %>
    <% end %>

    <p class="form_legend">Deadline</p>
    <%=text_field_tag "assignment[deadline]",@assignment.readable_deadline, :class=>'loep_input', :id=>"deadline_datepicker" %>

    <input id="assignment_author_id" name="assignment[author_id]" type="hidden" value="<%=current_user.id%>">

    <p class="form_before_button">&nbsp;</p>
    <p class="form_before_button">&nbsp;</p>
    <%= f.submit :class => 'loep_button' %>

  <% end %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
    //Datetimepicker Addon: http://trentrichardson.com/examples/timepicker/#basic_examples
    $('#deadline_datepicker').datetimepicker({
      yearRange: "-1:+10",
      showOn: "both",
      dateFormat : 'dd/mm/yy',
      changeMonth : true,
      changeYear : true,
      minDate: '0d',
      buttonImage: "/assets/calendar_icon.png", 
      buttonImageOnly: true,
      timeFormat: "HH:mm tt",
      stepHour: 1,
      stepMinute: 15
    });

    if ($("#completed_at_datepicker").length > 0){
      $('#completed_at_datepicker').datetimepicker({
        yearRange: "-1:+10",
        showOn: "both",
        dateFormat : 'dd/mm/yy',
        changeMonth : true,
        changeYear : true,
        minDate: '0d',
        buttonImage: "/assets/calendar_icon.png", 
        buttonImageOnly: true,
        timeFormat: "HH:mm tt",
        stepHour: 1,
        stepMinute: 15
      });
    }

  });
</script>