<div class="loep_form_wrapper new_assignment_form">
  <p class="form_before_button">&nbsp;</p>

  <%= form_for(@assignment) do |f| %>
    <p class="form_legend"><%=t("los.name.plural")%></p>
    <select name="selected_los[]" <%= 'multiple="true"' if controller.action_name == "new" or controller.action_name == "create"%> id="select_los" class="loep_input">
      <% unless @plos.nil? %>
        <% @plos.each do |lo| %>
          <option value="<%=lo.id%>" selected="selected"><%=lo.name%></option>
        <% end %>
      <% end %>
      <% @los.each do |lo| %>
        <option value="<%=lo.id%>"><%=lo.name%></option>
      <% end %>
    </select>

    <p class="form_legend"><%=t("users.reviewer.plural")%></p>
    <select name="selected_users[]" <%= 'multiple="true"' if controller.action_name == "new" or controller.action_name == "create"%> id="select_users" class="loep_input">
      <% unless @pusers.nil? %>
        <% @pusers.each do |user| %>
          <option value="<%=user.id%>" selected="selected"><%=user.name%></option>
        <% end %>
      <% end %>
      <% @users.each do |user| %>
        <option value="<%=user.id%>"><%=user.name%></option>
      <% end %>
    </select>

    <p class="form_legend"><%=t("evmethods.name.plural")%></p>
    <%= select_tag "selected_evmethods", options_for_select(Utils.getEvMethods,@evmethodids), { :multiple => true, :size => 2, :class=>'loep_input' }%>

    <p class="form_legend"><%=t("dictionary.description")%></p>
    <%= f.text_area :description, :class=>'loep_input' %>

    <% if !@assignment.status.nil? %>
      <p class="form_legend"><%=t("dictionary.status")%></p>
      <%= f.select :status, options_for_select(Utils.getOptionsForSelectAssignmentStatus,@assignment.status || "Pending"), {} ,{ :class=>'loep_input' } %>
    <% end %>

    <% if !@assignment.completed_at.nil? %>
      <p class="form_legend"><%=t("dictionary.completion_date")%></p>
      <%=text_field_tag "assignment[completed_at]",@assignment.readable_completed_at, :class=>'loep_input', :id=>"completed_at_datepicker" %>
    <% end %>

    <p class="form_legend"><%=t("dictionary.deadline")%></p>
    <%=text_field_tag "assignment[deadline]",@assignment.readable_deadline_raw, :class=>'loep_input', :id=>"deadline_datepicker" %>

    <input id="assignment_author_id" name="assignment[author_id]" type="hidden" value="<%=current_user.id%>">

    <p class="form_before_button">&nbsp;</p>
    <p class="form_before_button">&nbsp;</p>
    <%unless params["action"]=="edit"%>
      <%submitButtonText = t("dictionary.create_model", :model => t("assignments.name.one"))%>
    <% else %>
      <%submitButtonText = t("dictionary.update_model", :model => t("assignments.name.one"))%>
    <% end %>
    <%= f.submit submitButtonText, :class => 'loep_button' %>

  <% end %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
    //Datetimepicker Addon: http://trentrichardson.com/examples/timepicker/#basic_examples
    <%= render "application/datepicker_language" %> //Translate datepicker
    $('#deadline_datepicker').datetimepicker({
      yearRange: "-1:+10",
      showOn: "both",
      dateFormat : 'dd/mm/yy',
      changeMonth : true,
      changeYear : true,
      minDate: '0d',
      buttonImage: "/assets/calendar_icon.png", 
      buttonImageOnly: true,
      firstDay: '<%=t("datepicker.firstDay")%>', //start on monday or sunday regarding the locale
      timeFormat: "HH:mm tt",
      stepHour: 1,
      stepMinute: 15
    });

    if ($("#completed_at_datepicker").length > 0){
      $('#completed_at_datepicker').datetimepicker({
        yearRange: "-1:+10",
        showOn: "both",
        dateFormat : 'dd/mm/yy',
        changeMonth : true,
        changeYear : true,
        minDate: '0d',
        buttonImage: "/assets/calendar_icon.png", 
        buttonImageOnly: true,
        firstDay: '<%=t("datepicker.firstDay")%>', //start on monday or sunday regarding the locale
        timeFormat: "HH:mm tt",
        stepHour: 1,
        stepMinute: 15
      });
    }

    //Little fix for select input
    $("#select_los").attr("style","width:" + $("#select_los").width() + "px");
    $("#select_los").select2();

    $("#select_users").attr("style","width:" + $("#select_users").width() + "px");
    $("#select_users").select2();

    //Add search icon
    $(".select2-container-multi").prepend($("<div class='multiselect2search'><span class='glyphicon glyphicon-search'></span></div>"));
  });
</script>