<% showTools ||= false %>

<% rL = @assignments.length %>
<% if rL === 0 %>
  <%= render '/layouts/emptytable', :resources => t("assignments.name.plural").downcase %>
<% else %>
  <% if showTools %>
  <div class="loep_table_tools">
    <a id="remove_resources">
      <div class="loep_tool_button">
        <span class="glyphicon glyphicon-trash"></span>
      </div>
    </a>
  </div>
  <% end %>
  <table id="as_table" cellspacing='0' class="loep_table">
    <thead>
      <tr>
        <% if showTools %>
          <th><input type="checkbox" class="checkallresources" autocomplete="off" value="all"/></th>
        <% end %>
        <th><%=t("los.name.one")%></th>
        <th><%=t("users.reviewer.one")%></th>
        <th><%=t("evmethods.name.short.one")%></th>
        <th><%=t("dictionary.status")%></th>
        <th><%=t("dictionary.deadline")%></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <% if showTools %>
        <td class="tdcenter">
          <input type="checkbox" class="checkresource" autocomplete="off" value="<%=assignment.id%>"/>
        </td>
        <% end %>
         <td>
          <!--#rlo_path(assignment.lo) + "?as_user_id=" + assignment.user.id.to_s-->
          <a href="<%=lo_path(assignment.lo) %>"><span><%= assignment.lo.name %></span></a>
        </td>
        <td>
          <a href="<%=user_path(assignment.user)%>"><span><%= assignment.user.name %></span></a>
        </td>
        <td class="tdcenter">
          <a href="<%=assignment.evmethod.documentation_path%>"><%=assignment.readable_evmethod%></a>
        </td>
        <td class="tdcenter">
          <%=assignment.readable_status%>
        </td>
        <td>
          <span><%= assignment.readable_deadline %></span>
        </td>
        <td class="tdcenter">
          <a href="<%=assignment_path(assignment)%>"><span class="glyphicon glyphicon-eye-open"></span> <%=t("dictionary.details")%></a>
        </td>
        <td class="tdcenter">
            <a href="<%=edit_assignment_path(assignment)%>"><span class="glyphicon glyphicon-edit"></span> <%=t("dictionary.edit")%></a>
        </td>
        <td class="tdcenter">
          <a href="<%=assignment_path(assignment)%>" data-confirm="<%=t("dictionary.are_you_sure")%>" data-ok-button="<%=t("dialog.ok")%>" data-cancel-button="<%=t("dialog.cancel")%>" data-method="delete" rel="nofollow"><span class="glyphicon glyphicon-trash"></span> <%=t("dictionary.remove")%></a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if showTools %>

<script type="text/javascript">

  //Store the ids
  //selectedResources[res_id] = res_id
  var selectedResources = {};

  $(document).ready(function(){

    //////////////////
    // Table Basics
    //////////////////

    $("input:checkbox.checkresource").change(function(){
        var restr = $(this).parent().parent();
        var resId = $(this).attr("value");

        if(this.checked) {
          selectedResources[resId] = resId;
          $(restr).addClass("loeprowselected");
        } else {
          delete selectedResources[resId];
          $(restr).removeClass("loeprowselected");
          $("input:checkbox.checkallresources").prop("checked",false);
        }
    });

    $("input:checkbox.checkallresources").change(function(){
      if(this.checked){
        $("input:checkbox.checkresource").prop("checked",true);
        $("input:checkbox.checkresource").parent().parent().addClass("loeprowselected");
        $("input:checkbox.checkresource").each(function(index,input){
          var resId = $(input).attr("value");
          selectedResources[resId] = resId;
        });
      } else {
        $("input:checkbox.checkresource").prop("checked",false);
        $("input:checkbox.checkresource").parent().parent().removeClass("loeprowselected");
        selectedResources = {};
      }
    });

    //////////////////
    //Toolbar Actions
    //////////////////

    $("#remove_resources").click(function(){
      var res_ids = getSelectedResources();
      if(res_ids.length===0){
        _showLOEPDialog('<%t("dictionary.no_item_selected")%>', false);
        return;
      }

     _showLOEPDialog('<%t("dictionary.are_you_sure")%>', true, function(result){
        if(result==true){
          var res_ids = getSelectedResources();
          if(res_ids.length===0){
            return;
          }
          var url = LOEP.Main.createURL("/assignments/remove",[["assignment_ids", res_ids]]);
          window.top.location= url;
        }
      });
    });

    //////////////////
    // Table Sorter
    //////////////////

    var iDisplayLength = LOEP.Storage.get("AssignmentsTable_iDisplayLength") || -1;

    //DOC: http://datatables.net
    var resTable = $("#as_table").dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "aaSorting": [], // Disable initial sort
      // "aaSorting": [[ 5, "desc" ]],
      "aoColumnDefs": [
        { 'bSortable': false, 'aTargets': [ 0,6,7,8] },
        { "bSearchable": false, "aTargets": [ 0,5,6,7,8] },
        { "sType":"loep-date-dd/mm/yyyy", "aTargets": [5] }
      ],
      "sDom": '<"H"lfr><"F"ip>t',
      "iDisplayLength": iDisplayLength,
      "oLanguage": { <%= render "application/oLanguage"%> }
    });

    //DataTable events: http://datatables.net/docs/DataTables/1.9.4/#page

    //Draw event, fired whenever the table is redrawn on the page, at the same point as fnDrawCallback. This may be useful for binding events or performing calculations when the table is altered at all.
    $(resTable).on('draw', function(e){
      $("input:checkbox.checkallresources").prop("checked",false);
      $("input:checkbox.checkallresources").trigger("change");
    });

    $('#as_table_length').on('change', function(e){
      var iDisplayLength = parseInt($(this).find("select").val());
      LOEP.Storage.add("AssignmentsTable_iDisplayLength",iDisplayLength);
    });

  });

  /* Select only visible elements */
  var getSelectedResources = function(){
    var res_ids = [];
    $("input:checkbox.checkresource:checked").each(function(index,input){
      res_ids.push($(input).attr("value"));
    });
    return res_ids;
  };

  // var getSelectedResources = function(){
  //   return Object.keys(selectedResources);
  // };

</script>

<% end %>