<% showReviewer ||= false %>
<% showDescription ||= false %>
<% showEvaluationBigButton ||= false %>
<% showEvaluationButton ||= showEvaluationBigButton %>
<% aL = @assignments.length %>

<% if aL === 0 %>
  <%= render '/application/emptytable', :fullHTMLmessage => t("assignments.no_assignments_for_reviewer") %>
<% else %>

  <table cellspacing='0' class="loep_table">
    <tr>
      <th><%=t("los.name.one")%></th>
      <% if showReviewer %>
      <th><%=t("users.reviewer.one")%></th>
      <% end %>
      <th><%=t("evmethods.name.short.one")%></th>
      <th><%=t("dictionary.status")%></th>
      <th><%=t("dictionary.deadline")%></th>
      <% if showEvaluationButton %>
        <th></th>
        <th></th>
        <th></th>
      <% end %>
    </tr>
    <% @assignments.each_with_index do |assignment,i| %>
      <% canEvaluateThisLo = can?(:evaluate, assignment.lo, assignment.evmethod)%>
      <% showEvaluationBigButtonForAssignment = (showEvaluationBigButton and canEvaluateThisLo) %>
      <% showEvaluationButtonForAssignment = (showEvaluationButton and canEvaluateThisLo) %>
      <tr>
        <td>
          <a href="<%=rlo_path(assignment.lo)%>"><span><%= assignment.lo.name %></span></a>
        </td>
        <% if showReviewer %>
        <td>
          <a href="<%=user_path(assignment.user)%>"><span><%= assignment.user.name %></span></a>
        </td>
        <%end%>
        <td class="tdcenter">
          <a href="<%=assignment.evmethod.documentation_path%>"><%=assignment.readable_evmethod%></a>
        </td>
        <td class="tdcenter">
          <%=assignment.readable_status%>
        </td>
        <td>
          <span><%= assignment.readable_deadline %></span>
        </td>
        <% if showEvaluationButton %>
          <td class="tdcenter">
            <% if assignment.status == "Pending" and showEvaluationButtonForAssignment %>
              <a href="<%=assignment.evmethod.new_evaluation_path(assignment.lo)%>"><span class="glyphicon glyphicon-star-empty"></span> <%=t("actions.evaluate")%></a>
            <% end %>
          </td>
          <td class="tdcenter">
            <%if assignment.status == "Pending" and can?(:complete, assignment) %>
              <%= link_to complete_path(assignment), :data => { :confirm => t("assignments.confirmation.mark_as_completed"), :ok_button => t("dictionary.wyes"), :cancel_button => t("dictionary.wno")}, :method => :complete do %>
                  <span class="glyphicon glyphicon-ok"></span> <%=t("dictionary.check")%>
              <% end %>
            <% end %>
          </td>
          <td class="tdcenter">
            <%if assignment.status == "Pending" and can?(:reject, assignment) %>
              <%= link_to reject_path(assignment), :data => { :confirm => t("dictionary.are_you_sure"), :ok_button => t("dictionary.wyes"), :cancel_button => t("dictionary.wno") }, :method => :reject do %>
                  <span class="glyphicon glyphicon-remove"></span> <%=t("actions.reject")%>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% if showDescription and !assignment.description.blank? %>
        <tr>
          <td colspan="100%">
            <span><%= assignment.description %></span>
          </td>
        </tr>
        <% if showEvaluationBigButtonForAssignment == false %>
          <% unless i==aL-1 %>
            <tr>
              <td class="tdseparator" colspan="100%"></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      <% if showEvaluationBigButtonForAssignment %>
        <tr>
          <td colspan="100%">
            <span><a href="<%=assignment.evmethod.new_evaluation_path(assignment.lo)%>"><button class="loep_button"><span class="glyphicon glyphicon-star-empty"></span><%=t("actions.evaluate_with_evmethod", :evmethod => assignment.evmethod.name)%></button></a></span>
          </td>
        </tr>
        <% unless i==aL-1 %>
          <tr>
            <td class="tdseparator" colspan="100%"></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>

<% end %>