<div class="show_wrapper loep_form_wrapper">

  <h2><%=t("assignments.name.plural")%></h2>
  <% if can?(:edit,@assignment) %>
    <%= link_to t("dictionary.edit"), edit_assignment_path(@assignment) %>
  <% end %>
  <% if can?(:destroy,@assignment) %>
    | <a class="ralink" href="<%=assignment_path(@assignment)%>" data-confirm="<%=t("dictionary.are_you_sure")%>" data-ok-button="<%=t("dialog.ok")%>" data-cancel-button="<%=t("dialog.cancel")%>" data-method="delete" rel="nofollow"><%=t("dictionary.remove")%></a>
  <% end %>
  <p class="space_medium"></p>

  <p class="show_legend"><%=t("dictionary.created_by", :model=> t("assignments.name.one"))%>:</p>
  <a href="<%=user_path(@assignment.author)%>"><p class="show_value"><%=@assignment.author.name%></p></a>

  <p class="show_legend"><%=t("los.name.one")%></p>
  <a href="<%=lo_path(@assignment.lo)%>"><p class="show_value"><%=@assignment.lo.name%></p></a>

  <p class="show_legend"><%=t("users.reviewer.one")%></p>
  <a href="<%=user_path(@assignment.user)%>"><p class="show_value"><%=@assignment.user.name%></p></a>

  <p class="show_legend"><%=t("evmethods.name.one")%></p>
  <a href="<%=@assignment.evmethod.documentation_path%>"><p class="show_value"><%=@assignment.readable_evmethod%></p></a>

  <p class="show_legend"><%=t("dictionary.description")%></p>
  <p class="show_value"><%=@assignment.description%></p>

  <p class="show_legend"><%=t("dictionary.status")%></p>
  <p class="show_value"><%=@assignment.readable_status%></p>

  <p class="show_legend"><%=t("dictionary.deadline")%></p>
  <p class="show_value"><%=@assignment.deadline%></p>

  <p class="show_legend"><%=t("dictionary.completed_at")%></p>
  <p class="show_value"><%=@assignment.readable_completed_at%></p>

  <% if @evaluations.length > 0 %>
    <p class="space_large"></p>
    <h1 class="loep_title"><%=t("evaluations.name.plural")%></h1>
    <%= render '/evaluations/index' %>
  <% end %>
  
</div>