<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Author</th>
    <th>User</th>
    <th>Lo</th>
    <th>Status</th>
    <th>Deadline</th>
    <th>Completed at</th>
    <th>Description</th>
    <th>Emethods</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.author_id %></td>
    <td><%= assignment.user_id %></td>
    <td><%= assignment.lo_id %></td>
    <td><%= assignment.status %></td>
    <td><%= assignment.deadline %></td>
    <td><%= assignment.completed_at %></td>
    <td><%= assignment.description %></td>
    <td><%= assignment.emethods %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
