<table cellspacing='0' class="loep_table">
  <tr>
    <th>Learning Object</th>
    <th>Reviewer</th>
    <th>Status</th>
    <th>Completed at</th>
    <th>Deadline</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @assignments.each do |assignment| %>
    <tr>
       <td>
        <a href="<%=lo_path(assignment.lo)%>"><span><%= assignment.lo.name %></span></a>
      </td>
      <td>
        <a href="<%=user_path(assignment.user)%>"><span><%= assignment.user.name %></span></a>
      </td>
      <% case assignment.status %>
      <% when "Pending" %>
        <td class="assignment_pending">
          <span class="glyphicon glyphicon-time"></span>
      <% when "Completed" %>
        <td class="assignment_completed">
          <span class="glyphicon glyphicon-ok"></span>
      <% when "Rejected" %>
        <td class="assignment_rejected">
          <span class="glyphicon glyphicon-remove"></span>
      <% else %>
        <td class="assignment_nil">
      <%end%>
          <%= assignment.status %></span>
      </td>
      <td>
        <span><%= assignment.readable_completed_at %></span>
      </td>
      <td>
        <span><%= assignment.readable_deadline %></span>
      </td>
      <td>
        <a href="<%=user_path(assignment.author)%>"><%= assignment.author.name %></a>
      </td>
      <td class="tdcenter tdedit">
        <a href="<%=assignment_path(assignment)%>"><span class="glyphicon glyphicon-eye-open"></span> Show</a>
      </td>
      <td class="tdcenter tdedit">
          <a href="<%=edit_assignment_path(assignment)%>"><span class="glyphicon glyphicon-edit"></span> Edit</a>
      </td>
      <td class="tdcenter tddestroy">
        <a href="<%=assignment_path(assignment)%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><span class="glyphicon glyphicon-trash"></span> Remove</a>
      </td>
    </tr>
  <% end %>
</table>
