<% readonly ||= false %>
<% edit ||= false %>

<div class="loep_form_wrapper">
  <h2>LORI v1.5 Items Rating Survey</h1>
  <a href="<%=@evmethod.documentation_path%>"><p class="form_legend"><%=@evmethod.name%> documentation</p></a>
  <p class="form_before_button">&nbsp;</p>
  <p> The following survey is intended to evaluate the importance of the different LORI v1.5 items. Based on the results of this survey, a Learning Object LORI Quality Metric is defined, and the scores for the Learning Objects are calculated.</p>
  <p> For each of the items, rate the importance that it has for you regarding pedagogical quality in a scale from 0 to 10, being 0 valueless and 10 extremely valuable. </p>
</div>

<div class="loep_form_wrapper">
  <p class="form_before_button">&nbsp;</p>

  <%= form_for(@loric) do |f| %>
    <%= render 'loric_survey', :f => f , :readonly => readonly, :edit => edit %>
    <p class="form_before_button">&nbsp;</p>
    <p class="form_before_button">&nbsp;</p>
    <%= f.submit "Submit Survey", :class => 'loep_button' if !readonly %>
  <% end %>
</div>

</br>
<div class="loep_form_wrapper">
  <%= link_to t("words.back"), :back %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){

    var validateForm = true;

    $('form').submit(function(event){
      if(validateForm==true){
        event.preventDefault();
        _beforeSubmit($(this), function(error){
          if(typeof error != "undefined"){
            //onError or Cancel
            return false;
          } else {
            //onSuccess or Ok
            validateForm = false;
            $('form').trigger("submit");
            return true;
          }
        });
      }
    });

    var _beforeSubmit = function(form, callback) {
      if(typeof callback != "function"){
          return;
      }

      var fields = _getFieldsOfForm(form);
      var unfilledFields = _getUnfilledFields(form,fields);
      var numberOfFilledFields = fields.length - unfilledFields.length;

      if(numberOfFilledFields == 0){
        var error = {};
        error.msg = "The evaluation survey is blank. It cannot be sent.";
        _showLOEPDialog(error.msg,false);
        callback(error);
      } else if (unfilledFields.length > 0){
        //Warning

        var warningDialogMsg;
        if(unfilledFields.length == 1){
          warningDialogMsg = "There is one question that has not been answered.";
        } else {
          warningDialogMsg = "There are " + unfilledFields.length + " questions that have not been answered.";
        }
        warningDialogMsg += " Are you sure you want to submit the evaluation survey?"

        _showLOEPDialog(warningDialogMsg, true, function(result){
          if(result==true){
            //Ok
            callback();
          } else {
            //Cancel
            callback({"msg":"Incompleted survey"});
          }
        })
      } else {
          callback();
      }
    }

    var _getFieldsOfForm = function(form){
      //Ignore submit and hidden fields, and also inputs with 'optionalInput' class
      var inputs = $(form).find(':input:not(.optionalInput)[type!="submit"][type!="hidden"]');
      var fields = [];

      $(inputs).each(function(index,input){
        var fieldName = $(input).attr("name");
        if(fields.indexOf(fieldName) == -1){
          fields.push(fieldName);
        }
      });

      return fields;
    };

    var _getUnfilledFields = function(form,fields){
      var unfilledFields = [];
      $(fields).each(function(index,field){
        var fieldValue;
        var input = $(form).find('input[name="'+field+'"]');
        if($(input).is(":radio")){
          fieldValue = $(form).find('input[name="'+field+'"]:checked', form).val();
        } else {
          //hidden, text
          fieldValue = $(input).val();
        }
        if((typeof fieldValue != "string")||(fieldValue.trim()=="")){
          unfilledFields.push(field);
        }
      });
      return unfilledFields;
    }

  });
</script>
