<% readonly ||= false %>
<% edit ||= false %>

<div class="loep_form_wrapper">
  <h2><%=t("surveys.lori_15_items.title")%></h1>
  <p class="form_legend"><a href="<%=@evmethod.documentation_path%>"><%=t("evmethods.form.documentation", :evmethod => @evmethod.name)%></a></p>
  <p class="form_before_button">&nbsp;</p>
  <p><%=raw t("surveys.lori_15_items.detailed_description")%></p>
</div>

<div class="loep_form_wrapper">
  <p class="form_before_button">&nbsp;</p>

  <%= form_for(@loric) do |f| %>
    <%= render 'loric_survey', :f => f , :readonly => readonly, :edit => edit %>
    <p class="form_before_button">&nbsp;</p>
    <p class="form_before_button">&nbsp;</p>
    <%= f.submit t("surveys.submit"), :class => 'loep_button' if !readonly %>
  <% end %>
</div>

</br>
<div class="loep_form_wrapper">
  <%= link_to t("dictionary.back"), :back, :class=>'backLink' %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){

    var validateForm = true;

    $('form').submit(function(event){
      if(validateForm==true){
        event.preventDefault();
        _beforeSubmit($(this), function(error){
          if(typeof error != "undefined"){
            //onError or Cancel
            return false;
          } else {
            //onSuccess or Ok
            validateForm = false;
            $('form').trigger("submit");
            return true;
          }
        });
      }
    });

    var _beforeSubmit = function(form, callback){
      if(typeof callback != "function"){
          return;
      }

      var fields = _getFieldsOfForm(form);
      var unfilledFields = _getUnfilledFields(form,fields);
      var numberOfFilledFields = fields.length - unfilledFields.length;

      if(numberOfFilledFields == 0){
        var error = {};
        error.msg = '<%=t("forms.validation.blank_form")%>';
        _showLOEPDialog(error.msg,false);
        callback(error);
      } else if (unfilledFields.length > 0){
        //Warning

        var warningDialogMsg;
        if(unfilledFields.length == 1){
          warningDialogMsg = '<%=t("forms.validation.question_blank.one")%>';
        } else {
          warningDialogMsg = '<%=t("forms.validation.question_blank.several.a")%> ' + unfilledFields.length + ' <%=t("forms.validation.question_blank.several.b")%>';
        }
        warningDialogMsg += ' <%=t("forms.validation.are_you_sure")%>';

        _showLOEPDialog(warningDialogMsg, true, function(result){
          if(result==true){
            //Ok
            callback();
          } else {
            //Cancel
            callback({"msg":"Incompleted survey"});
          }
        })
      } else {
          callback();
      }
    };

    var _getFieldsOfForm = function(form){
      //Ignore submit fields, and also inputs with 'optionalInput' or 'skipValidation' class
      var inputs = $(form).find(':input:not(.optionalInput):not(.skipValidation)[type!="submit"][name!=utf8][name!=authenticity_token][name!=_method]');
      var fields = [];

      $(inputs).each(function(index,input){
        var fieldName = $(input).attr("name");
        if(fields.indexOf(fieldName) == -1){
          fields.push(fieldName);
        }
      });

      return fields;
    };

    var _getUnfilledFields = function(form,fields){
      var unfilledFields = [];
      $(fields).each(function(index,field){
        var fieldValue;
        var input = $(form).find('input[name="'+field+'"]');
        if($(input).is(":radio")){
          fieldValue = $(form).find('input[name="'+field+'"]:checked', form).val();
        } else {
          //hidden, text
          fieldValue = $(input).val();
        }
        if((typeof fieldValue != "string")||(fieldValue.trim()=="")){
          unfilledFields.push(field);
        }
      });
      return unfilledFields;
    };

  });
</script>
