<%= f.hidden_field :user_id, :value=>(@loric.user.nil? ? current_user.id : @loric.user.id), :class=>'skipValidation'%>

<% Evaluations::Lori.getItems.each_with_index do |item,i| %>
  <%nItem = i+1%>
  <div class="survey_block">
    <p class="survey_question_title"><%=nItem%>. <%=item[:name]%></p>
    <p class="survey_question_subtitle"><%=item[:description]%></p>
    <div class="rating_wrapper">
      <div class="stars_wrapper">
        <span  class="hover-star_legend_left"><%=t("forms.evmethod.low")%></span>
        <%= f.radio_button "item" + nItem.to_s, "0", :class=>'hover-star', :title => "0", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "1", :class=>'hover-star', :title => "1", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "2", :class=>'hover-star', :title => "2", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "3", :class=>'hover-star', :title => "3", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "4", :class=>'hover-star', :title => "4", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "5", :class=>'hover-star', :title => "5", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "6", :class=>'hover-star', :title => "6", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "7", :class=>'hover-star', :title => "7", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "8", :class=>'hover-star', :title => "8", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "9", :class=>'hover-star', :title => "9", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "10", :class=>'hover-star', :title => "10", :readonly => readonly ? "true" : nil %>
        <span  class="hover-star_legend_right"><%=t("forms.evmethod.high")%></span>
      </div>
      <div class="hover-start_text">
        <% if readonly or edit %>
          <div class='numberCircle'>
            <%= @loric.send("item" + nItem.to_s)%>
          </div>
        <% end %>
      </div>
      <div class="remove_hover-start-value"><span class="glyphicon glyphicon glyphicon-remove"></span> <%=t("dictionary.remove")%></div>
    </div>
  </div>
<% end %>

<div class="survey_block">
  <p class="survey_question_title"><%=t("evmethods.all.item_comments.name")%></p>
  <p class="survey_question_subtitle"><%=t("evmethods.all.item_comments.description")%></p>
  <%= f.text_area :comments, :class=>'loep_input optionalInput', :readonly => readonly ? "true" : nil %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    <% if !readonly %>

      $('.hover-star').rating({
          focus: function(value, link){
              var tip = $(this).parent().parent().find("div.hover-start_text");
              var title = $(link).attr("ititle");
              if(typeof title == "undefined"){
                title = $(link).attr("title");
                $(link).removeAttr("title");
                $(link).attr("ititle",title);
              }
              var text = "<div class='numberCircle'>"+title+"</div>";
              tip.html(text);
          },
          blur: function(value, link){
              var tip = $(this).parent().parent().find("div.hover-start_text");
              var selectedValue = $(tip).attr("selectedValue");
              if(selectedValue){
                var text = "<div class='numberCircle'>"+selectedValue+"</div>";
              }
              $(tip).html(text || '');
          },
          callback: function(value, link){
            var tip = $(this).parent().parent().find("div.hover-start_text");
            var remove = $(tip).parent().find("div.remove_hover-start-value");
            $(tip).attr("selectedValue",value);
            $(remove).fadeIn().css("display","inline-block");
          }
      });
  
      $(document).on('click', 'div.remove_hover-start-value', function(event){
          var removeDiv = event.target;
          if(!$(removeDiv).hasClass("remove_hover-start-value")){
            removeDiv = $(event.target).parent();
          }
          var tip = $(removeDiv).parent().find("div.hover-start_text");
          $(tip).removeAttr("selectedValue");

          var ratingCancelButton = $(removeDiv).parent().find("div.rating-cancel > a");
          $(ratingCancelButton).trigger("click")

          $(tip).fadeOut(function(){
            $(tip).html("");
            $(tip).css("display","inline-block");
          });
          $(removeDiv).fadeOut();
      });

      <% if edit %>
        //Fill $(tip).attr("selectedValue",value);
        $('.hover-star:checked').each(function(index,value){
          var tip = $(this).parent().parent().find("div.hover-start_text");
          $(tip).attr("selectedValue",$(this).attr("value"));
        });
        $("div.remove_hover-start-value").fadeIn().css("display","inline-block");
      <% end %>

    <% else %>
      $('.hover-star').rating();
      $('.hover-star').rating(
        'readOnly'
      );
    <% end %>

  });
</script>