<% rL = @users.length %>
<% if rL === 0 %>
  <%= render '/layouts/emptytable', :fullmessage => "There are no users in the platform." %>
<% else %>
  <table cellspacing='0' class="loep_table">
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th>Assign</th>
      <th></th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><a href="<%=user_path(user)%>"><%=user.name%></a></td>
        <td><%=user.role%></td>
        <td class="tdcenter tdrshow">
          <a href="<%=new_assignment_path_for(nil,user.id)%>"><span class="glyphicon glyphicon-time"></span></a>
        </td>
        <td class="tdcenter tdedit">
          <% if current_user.compareRole > user.compareRole || current_user.id == user.id %>
            <a href="<%=edit_user_path(user)%>"><span class="glyphicon glyphicon-edit"></span> Edit</a>
          <% end %>
        </td>
        <td class="tdcenter tddestroy">
          <% if current_user.compareRole > user.compareRole %>
            <a href="<%=user_path(user)%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><span class="glyphicon glyphicon-trash"></span> Remove</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>