<div class="show_wrapper loep_form_wrapper">

  <h2><%=@user.name%></h2>
  <% if can?(:update,@user) %>
    <a href="<%=edit_user_path(@user)%>"><%=t("users.edit_profile")%></a>
  <% end %>
  <% if iamAdmin? %>
    | <a href="<%=new_assignment_path_for(nil,@user.id)%>"><%=t("actions.add_assignment")%></a>
  <% end %>
  <p class="space_medium"></p>

  <p class="show_legend"><%=t("words.username")%></p>
  <p class="show_value"><%=@user.name%></p>

  <p class="show_legend"><%=t("words.role")%></p>
  <p class="show_value"><%=@user.readable_role%></p>

  <p class="show_legend"><%=t("words.email")%></p>
  <p class="show_value"><%=@user.email%></p>

  <p class="show_legend"><%=t("words.birthday")%></p>
  <p class="show_value"><%=@user.readable_birthday%></p>

  <p class="show_legend"><%=t("words.age")%></p>
  <p class="show_value"><%=@user.age%></p>

  <p class="show_legend"><%=t("words.gender")%></p>
  <% if @user.gender == 1 %>
    <p class="show_value"><%=t("words.male")%></p>
  <% elsif @user.gender == 2 %>
    <p class="show_value"><%=t("words.female")%></p>
  <% end %>

  <p class="show_legend"><%=t("registrations.field_expertise")%></p>
  <p class="show_value"><%=@user.occupation%></p>

  <p class="show_legend"><%=t("registrations.language_preferred")%></p>
  <p class="show_value"><%=@user.language.name%></p>

  <p class="show_legend"><%=t("registrations.language_all")%></p>
  <p class="show_value"><%=@user.languages.map { |l| l.name }.join(", ")%></p>

  <p class="show_legend"><%=t("registrations.areas")%></p>
  <div class="tagsinput">
    <% @user.tag_list.each do |tag| %>
      <p class="show_value"><span class='tag'><%=tag%></span></p>
    <% end %>
  </div>

  <% if iamAdmin? %>
    <p class="space_large"></p>
    <h1 class="loep_title"><%=t("assignments.name.plural")%></h1>
    <% if iamAdmin? %>
      <%= render '/assignments/index' %>
    <% else %>
      <%= render '/assignments/rindex' %>
    <% end %>
  <% end %>

  <% if iamAdmin? %>
    <p class="space_large"></p>
    <% if @evaluations.length > 0 %>
      <h1 class="loep_title"><%=t("evaluations.name.plural")%></h1>
      <% if iamAdmin? %>
        <%= render '/evaluations/index' %>
      <% else %>
        <%= render '/evaluations/rindex' %>
      <% end %>
    <% end %>
  <% end %>

  <p class="space_small"></p>
</div>
