<div class="show_wrapper loep_form_wrapper">

  <h2><%=@user.name%></h2>
  <% if current_user == @user || iamAdmin? %>
    <a href="<%=edit_user_path(@user)%>">Edit profile</a>
  <% end %>
  <% if iamAdmin? %>
    | <a href="<%=new_assignment_path_for(nil,@user.id)%>"> Add assignment </a>
  <% end %>
  </br>

  <p class="show_legend">Username</p>
  <p class="show_value"><%=@user.name%></p>

  <p class="show_legend">Role</p>
  <p class="show_value"><%=@user.role%></p>

  <p class="show_legend">Email</p>
  <p class="show_value"><%=@user.email%></p>

  <p class="show_legend">Birthday</p>
  <p class="show_value"><%=@user.readable_birthday%></p>

  <p class="show_legend">Age</p>
  <p class="show_value"><%=@user.age%></p>

  <p class="show_legend">Gender</p>
  <% if @user.gender == 1 %>
    <p class="show_value"><%="Male"%></p>
  <% elsif @user.gender == 2 %>
    <p class="show_value"><%="Female"%></p>
  <% end %>

  <p class="show_legend">Language</p>
  <p class="show_value"><%=Utils.readable_lan(@user.lan)%></p>
  
  <p class="show_legend">Areas of interest</p>
  <div class="tagsinput">
    <% @user.tag_list.each do |tag| %>
      <p class="show_value"><span class='tag'><%=tag%></span></p>
    <% end %>
  </div> 
 
  <br/>
  <br/>
  <h1 class="loep_title"> Assignments </h1>
  <% if iamAdmin? %>
    <%= render '/assignments/index' %>
  <% else %>
    <%= render '/assignments/rindex' %>
  <% end %>

  <br/>
  <br/>
  <h1 class="loep_title"> Evaluations </h1>
  <% if iamAdmin? %>
    <%= render '/evaluations/index' %>
  <% else %>
    <%= render '/evaluations/rindex' %>
  <% end %>

  <br/>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
    $('#birthday_datepicker').datepicker({ 
      yearRange: "-100:+0", // this is the option you're looking for
      showOn: "both", 
      dateFormat : 'dd/mm/yy',
      changeMonth : true,
      changeYear : true,
      maxDate: '-1d',
      buttonImage: "/assets/calendar_icon.png", 
      buttonImageOnly: true 
    });

    $('#tags').tagsInput({
      autocomplete_url:'http://localhost:3000/tags',
      'minChars' : 2,
      'maxChars' : 25 //if not provided there is no limit,
    })
  });
</script>
