<div class="loep_form_wrapper">
  <% if iamAdmin? %>
    <h2>Edit user: <%=@user.name%></h2>
  <% else %>
    <h2><%=@user.name%></h2>
  <% end %>

  <%= form_for @user do |f| %>
      <p class="form_legend">Username</p>
      <%= f.text_field :name, :class=>'loep_input' %>

      <% if iamSuperAdmin? || (iamAdmin? and !isAdmin?(@user)) %>
        <p class="form_legend">Role</p>
        <select id="user_role" name="role">
          <option value="SuperAdmin" <%="disabled=true" if !@user.check_permissions_to_change_role(current_user, "SuperAdmin")%> <%="selected=true" if @user.role=="SuperAdmin"%>>SuperAdmin</option>
          <option value="Admin" <%="disabled=true" if !@user.check_permissions_to_change_role(current_user, "Admin")%> <%="selected=true" if @user.role=="Admin"%>>Admin</option>
          <option value="Reviewer" <%="disabled=true" if !@user.check_permissions_to_change_role(current_user, "Reviewer")%> <%="selected=true" if @user.role=="Reviewer"%>>Reviewer</option>
          <option value="User" <%="disabled=true" if !@user.check_permissions_to_change_role(current_user, "User")%> <%="selected=true" if @user.role=="User"%>>User</option>
        </select>
      <% end %>

      <p class="form_legend">Email</p>
      <%= f.email_field :email, :class=>'loep_input' %>

      <p class="form_legend">Birthday</p>
      <%=text_field_tag "user[birthday]",@user.readable_birthday, :class=>'loep_input', :id=>"birthday_datepicker" %>

      <p class="form_legend">Gender</p>
      <div class="gender_buttons">
        <%= f.radio_button :gender, 1 %><span class="gender_label">Male</span>
        <%= f.radio_button :gender, 2 %><span class="gender_label">Female</span>
      </div>

      <p class="form_legend">Areas of interest</p>
      <input name="user[tag_list]" id="tags" value="<%=@user.tag_list.join(",")%>"/>

      <p class="form_before_button">&nbsp;</p>
      <%= f.submit "Update", :class => 'loep_button update_button' %>
  <% end %>

  </br>
  <%= generic_back_link %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
    $('#birthday_datepicker').datepicker({ 
      yearRange: "-100:+0", // this is the option you're looking for
      showOn: "both", 
      dateFormat : 'dd/mm/yy',
      changeMonth : true,
      changeYear : true,
      maxDate: '-1d',
      buttonImage: "/assets/calendar_icon.png", 
      buttonImageOnly: true 
    });

    $('#tags').tagsInput({
      autocomplete_url:'http://localhost:3000/tags',
      'minChars' : 2,
      'maxChars' : 25 //if not provided there is no limit,
    })
  });
</script>
