<div class="loep_form_wrapper">
  <% if iamAdmin? %>
    <h2><%=t("dictionary.editing_model", :model => t("users.name.one")).humanize%>: <%=@user.name%></h2>
  <% else %>
    <h2><%=@user.name%></h2>
  <% end %>

  <%= form_for @user do |f| %>
      <p class="form_legend"><%=t("dictionary.username")%></p>
      <%= f.text_field :name, :class=>'loep_input' %>

      <% if iamSuperAdmin? || (iamAdmin? and !isAdmin?(@user)) %>
        <% rSuperAdmin = Role.superadmin %>
        <% rAdmin = Role.admin %>
        <% rReviewer = Role.reviewer %>
        <% rUser = Role.user %>

        <p class="form_legend"><%=t("dictionary.role")%></p>
        <select id="user_role" name="role">
          <option value="SuperAdmin" <%="disabled=true" unless current_user.canChangeRole?(@user,rSuperAdmin)%> <%="selected=true" if @user.role==rSuperAdmin%>><%=t("roles.superadmin")%></option>
          <option value="Admin" <%="disabled=true" unless current_user.canChangeRole?(@user,rAdmin)%> <%="selected=true" if @user.role==rAdmin%>><%=t("roles.admin")%></option>
          <option value="Reviewer" <%="disabled=true" unless current_user.canChangeRole?(@user,rReviewer)%> <%="selected=true" if @user.role==rReviewer%>><%=t("roles.reviewer")%></option>
          <option value="User" <%="disabled=true" unless current_user.canChangeRole?(@user,rUser)%> <%="selected=true" if @user.role==rUser%>><%=t("roles.user")%></option>
        </select>
      <% end %>

      <p class="form_legend"><%=t("dictionary.email")%></p>
      <%= f.email_field :email, :class=>'loep_input' %>

      <p class="form_legend"><%=t("dictionary.birthday")%></p>
      <%=text_field_tag "user[birthday]",@user.readable_birthday, :class=>'loep_input', :id=>"birthday_datepicker" %>

      <p class="form_legend"><%=t("dictionary.gender")%></p>
      <div class="gender_buttons">
        <%= f.radio_button :gender, 1 %><span class="gender_label"><%=t("dictionary.male")%></span>
        <%= f.radio_button :gender, 2 %><span class="gender_label"><%=t("dictionary.female")%></span>
      </div>

      <p class="form_legend">* <%=t("registrations.occupation")%></p>
      <%= f.select :occupation, options_for_select(Utils.getOptionsForOccupation,@user.occupation || "education"), {} ,{ :class=>'loep_input' } %>

      <p class="form_legend">* <%=t("registrations.language_preferred")%></p>
      <%= f.select :language_id, options_for_select(Utils.getOptionsForSelectLan(@user,{:current_user=>current_user}),@user.language_id || "Unspecified"), {} ,{ :class=>'loep_input' } %>

      <p class="form_legend">* <%=t("registrations.language_all")%></p>
      <%= f.select :languages, options_for_select(Utils.getOptionsForSelectLan(@user,{:current_user=>current_user}),@user.getLanguages), {} ,{ :multiple => 'true' , :size => 6, :class=>'loep_input' } %>

      <p class="form_legend"><%=t("registrations.areas")%></p>
      <input name="user[tag_list]" id="tags" value="<%=@user.tag_list.join(",")%>"/>

      <p class="form_before_button">&nbsp;</p>
      <%= f.submit t("dictionary.update"), :class => 'loep_button update_button' %>
  <% end %>

  </br>
  <%= generic_back_link %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
    <%= render "application/datepicker_language" %> //Translate datepicker

    $('#birthday_datepicker').datepicker({ 
      yearRange: "-100:+0", // this is the option you're looking for
      showOn: "both", 
      dateFormat : 'dd/mm/yy',
      changeMonth : true,
      changeYear : true,
      maxDate: '-1d',
      buttonImage: "/assets/calendar_icon.png", 
      buttonImageOnly: true,
      firstDay: '<%=t("datepicker.firstDay")%>', //start on monday or sunday regarding the locale 
    });

    <%=render "application/tags"%>

    //Little fix for select input
    $("#user_language_id").attr("style","width:" + $("#user_language_id").width() + "px");
    $("#user_language_id").select2({
      minimumResultsForSearch: -1
    });

    // var excludedIds = ['<%=Language.find_by_code("lanot").id%>'];
    var excludedIds = [];

    $("#user_language_id").on("select2-selecting", function(event){
      var valueSelected = event.val;

      if(excludedIds.indexOf(valueSelected) != -1){
        return;
      }

      var userLanguagesVal = $("#user_languages").val();
      if((userLanguagesVal == null) || (userLanguagesVal.indexOf(valueSelected)==-1)){
        if(userLanguagesVal == null){
          userLanguagesVal = [];
        }
        userLanguagesVal.push(valueSelected);
        $("#user_languages").val(userLanguagesVal).trigger("change");
      }
    });

    $("#user_languages").attr("style","width:" + $("#user_languages").width() + "px");
    $("#user_languages").select2();
  });
</script>
