<div class="loep_form_wrapper">
  <h2>Change your password</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>

    <% devise_error_messages!.each do |msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
    <% end %>

    <%= f.hidden_field :reset_password_token %>

    <p class="form_legend">New password</p>
    <%= f.password_field :password, :autofocus => true, :class=>'loep_input' %>

    <p class="form_legend">Confirm new password</p>
    <%= f.password_field :password_confirmation, :class=>'loep_input' %>

    <p class="form_before_button">&nbsp;</p>
    <%= f.submit "Change my password", :class => 'loep_button update_button' %>
  <% end %>

  </br>
  <%= link_to t("words.back"), :back %>

</div>
