<div class="registration_wrapper">
	<h2>Forgot your password?</h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  	<% devise_error_messages!.each do |msg| %>
  		<% if msg.is_a?(String) %>
  			<div class="alert alert-danger"><%= msg %></div>
  		<% end %>
  	<% end %>

	  <p class="form_legend">Email</p>
	  <%= f.email_field :email, :autofocus => true, :class=>'register_input' %>

    <p class="form_before_button">&nbsp;</p>
	  <div><%= f.submit "Send me reset password instructions", :class => 'loep_button update_button' %></div>
	<% end %>

  </br>
  <%= link_to "Back", :back %>

</div>