<div class="loep_form_wrapper">
	<h2 class="password_forgot_title"><%=t("login.password_forgot")%></h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  	<% devise_error_messages!.each do |msg| %>
  		<% if msg.is_a?(String) %>
  			<div class="alert alert-danger"><%= msg %></div>
  		<% end %>
  	<% end %>

	  <p class="form_legend"><%=t("dictionary.email")%></p>
	  <%= f.email_field :email, :autofocus => true, :class=>'loep_input' %>

    <p class="form_before_button">&nbsp;</p>
	  <div><%= f.submit t("login.password_reset_instructions"), :class => 'loep_button update_button' %></div>
	<% end %>

  </br>
  <%= link_to t("dictionary.back"), :back, :class=>'backLink' %>

</div>