<div class="registration_wrapper">
  <h2>Settings</h2>

  <% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>

  <% devise_error_messages!.each do |msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
  <% end %>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

      <p class="form_legend">Username</p>
      <%=text_field_tag "user[name]",@user.name, :class=>'register_input' %>

      <p class="form_legend">Email</p>
      <%= f.email_field :email, :class=>'register_input' %>

      <p class="form_legend">Birthday</p>

      <%=text_field_tag "user[birthday]",@user.readable_birthday, :class=>'register_input', :id=>"birthday_datepicker" %>

      <p class="form_legend">Gender</p>
      <%= f.radio_button :gender, 1 %><span class="gender_label">Male</span>
      <%= f.radio_button :gender, 2 %><span class="gender_label">Female</span>

      <p class="form_legend">Areas of interest</p>
      <input name="user[tag_list]" id="tags" value="<%=@user.tag_list.join(",")%>"/>

      <p class="form_legend">Password (leave blank if you don't want to change it)</p>
      <%= f.password_field :password, :autocomplete => "off", :class=>'register_input' %>

      <p class="form_legend">Password confirmation</p>
      <%= f.password_field :password_confirmation, :class=>'register_input' %>

      <p class="form_legend">Current password (we need your current password to confirm your changes)</p>
      <%= f.password_field :current_password, :class=>'register_input' %>

      <p class="form_before_button">&nbsp;</p>
      <%= f.submit "Update", :class => 'loep_button update_button' %>

  <% end %>

  </br>
  <%= link_to "Back", :back %>

  </br>
  </br>
  <h3>Cancel my account</h3>
  <p>
    <%= button_to "Cancel", registration_path(resource_name), :class => 'loep_button cancel_button', :data => { :confirm => "Are you sure?" }, :method => :delete %>
  </p>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
    $('#birthday_datepicker').datepicker({ 
      yearRange: "-100:+0", // this is the option you're looking for
      showOn: "both", 
      dateFormat : 'dd/mm/yy',
      changeMonth : true,
      changeYear : true,
      maxDate: '-1d',
      buttonImage: "/assets/calendar_icon.png", 
      buttonImageOnly: true 
    });

    $('#tags').tagsInput();
  });
</script>
