<div class="registration_wrapper">
  <% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>

  <% devise_error_messages!.each do |msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
  <% end %>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <p class="form_legend">Username</p>
      <%=text_field_tag "user[name]",@user.name, :class=>'register_input' %>

      <p class="form_legend">Email</p>
      <%= f.email_field :email, :class=>'register_input' %>

      <p class="form_legend">Birthday</p>
      <%=text_field_tag "user[birthday]",@user.birthday, :class=>'register_input' %>

      <p class="form_legend">Password</p>
      <%= f.password_field :password, :class=>'register_input' %>

    <p class="form_legend">Password confirmation</p>
    <%= f.password_field :password_confirmation, :class=>'register_input' %>

    <div class="captcha_wrapper">
      <%= recaptcha_tags %>
    </div>

    <%= f.submit "Sign up", :class => 'loep_button sign_up_button' %>
  <% end %>
  </br>
  <%= link_to "Back", :back %>
</div>