<div class="loep_form_wrapper">
  <% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>

  <% devise_error_messages!.each do |msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
  <% end %>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <p class="form_legend">* Username</p>
    <%=f.text_field :name, :class=>'loep_input' %>

    <p class="form_legend">* Email</p>
    <%= f.email_field :email, :class=>'loep_input' %>

    <p class="form_legend">* Birthday</p>
    <%=f.text_field :birthday, :class=>'loep_input', :id=>"birthday_datepicker" %>

    <p class="form_legend">* Gender</p>
    <div class="gender_buttons">
      <%= f.radio_button :gender, 1 %><span class="gender_label">Male</span>
      <%= f.radio_button :gender, 2 %><span class="gender_label">Female</span>
    </div>

    <p class="form_legend">Areas of interest</p>
    <input name="user[tag_list]" id="tags" value="<%=resource.tag_list.join(",")%>"/>

    <p class="form_legend">* Password</p>
    <%= f.password_field :password, :class=>'loep_input' %>

    <p class="form_legend">* Password confirmation</p>
    <%= f.password_field :password_confirmation, :class=>'loep_input' %>

    <div class="captcha_wrapper">
      <%= recaptcha_tags %>
    </div>

    <%= f.submit "Sign up", :class => 'loep_button sign_up_button' %>
  <% end %>
  </br>
  <%= link_to "Back", :back %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
    $('#birthday_datepicker').datepicker({
      yearRange: "-100:+0", // this is the option you're looking for
      showOn: "both", 
      dateFormat : 'dd/mm/yy',
      changeMonth : true,
      changeYear : true,
      maxDate: '-1d',
      buttonImage: "/assets/calendar_icon.png", 
      buttonImageOnly: true 
    });

    $('#tags').tagsInput({
      autocomplete_url:'http://localhost:3000/tags',
      'minChars' : 2,
      'maxChars' : 25 //if not provided there is no limit,
    });
  });
</script>