<div class="loep_form_wrapper">
  <% devise_error_messages!.each do |msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
  <% end %>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <p class="form_legend">* <%=t("dictionary.username")%></p>
    <%=f.text_field :name, :class=>'loep_input', :autocomplete => "off" %>

    <p class="form_legend">* <%=t("dictionary.email")%></p>
    <%= f.email_field :email, :class=>'loep_input', :autocomplete => "off" %>

    <p class="form_legend">* <%=t("dictionary.birthday")%></p>
    <%=f.text_field :birthday, :class=>'loep_input', :id=>"birthday_datepicker" %>

    <p class="form_legend">* <%=t("dictionary.gender")%></p>
    <div class="gender_buttons">
      <%= f.radio_button :gender, 1 %><span class="gender_label"><%=t("dictionary.male")%></span>
      <%= f.radio_button :gender, 2 %><span class="gender_label"><%=t("dictionary.female")%></span>
    </div>

    <p class="form_legend">* <%=t("registrations.occupation")%></p>
    <%= f.select :occupation, options_for_select(Utils.getOptionsForOccupation,resource.occupation || "Education"), {} ,{ :class=>'loep_input' } %>

    <p class="form_legend">* <%=t("registrations.language_preferred")%></p>
    <%= f.select :language_id, options_for_select(Utils.getOptionsForSelectLan(resource),resource.language_id || "Unspecified"), {} ,{ :class=>'loep_input' } %>

    <p class="form_legend">* <%=t("registrations.language_all")%></p>
    <%= f.select :languages, options_for_select(Utils.getOptionsForSelectLan(resource,{:multiple => true}),resource.getLanguages), {} ,{ :multiple => 'true' , :size => 6, :class=>'loep_input' } %>

    <p class="form_legend"><%=t("registrations.areas")%></p>
    <input name="user[tag_list]" autocomplete="off" id="tags" value="<%=resource.tag_list.join(",")%>"/>

    <p class="form_legend">* <%=t("login.password")%></p>
    <%= f.password_field :password, :class=>'loep_input', :autocomplete => "off" %>

    <p class="form_legend">* <%=t("login.password_confirmation")%></p>
    <%= f.password_field :password_confirmation, :class=>'loep_input', :autocomplete => "off" %>

    <div class="captcha_wrapper">
      <%= recaptcha_tags %>
    </div>

    <%= f.submit t("login.sign_up"), :class => 'loep_button sign_up_button' %>
  <% end %>
  </br>
  <%= link_to t("dictionary.back"), :back %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
    <%= render "application/datepicker_language" %> //Translate datepicker
    $('#birthday_datepicker').datepicker({
      yearRange: "-100:+0", // this is the option you're looking for
      showOn: "both", 
      dateFormat : 'dd/mm/yy',
      changeMonth : true,
      changeYear : true,
      maxDate: '-1d',
      buttonImage: "/assets/calendar_icon.png", 
      buttonImageOnly: true,
      firstDay: '<%=t("datepicker.firstDay")%>', //start on monday or sunday regarding the locale 
    });

    <%=render "application/tags"%>

    //Little fix for select input
    $("#user_language_id").attr("style","width:" + $("#user_language_id").width() + "px");
    $("#user_language_id").select2({
      minimumResultsForSearch: -1
    });

    $("#user_language_id").on("select2-selecting", function(event){
      var valueSelected = event.val;
      var userLanguagesVal = $("#user_languages").val();
      if((userLanguagesVal == null) || (userLanguagesVal.indexOf(valueSelected)==-1)){
        if(userLanguagesVal == null){
          userLanguagesVal = [];
        }
        userLanguagesVal.push(valueSelected);
        $("#user_languages").val(userLanguagesVal).trigger("change");
      }
    });

    $("#user_languages").attr("style","width:" + $("#user_languages").width() + "px");
    $("#user_languages").select2();
  });
</script>