<div class="show_wrapper loep_form_wrapper">
  <h2><%=t("icodes.name.one")%></h2>

  <%= form_tag(controller: "icodes", action: "send_invitation_mail", method: "post") do |f| %>

    <% if can?(:destroy,@icode) %>
      <a class="ralink" href="<%=icode_path(@icode)%>" data-confirm="<%=t("dictionary.are_you_sure")%>" data-ok-button="<%=t("dialog.ok")%>" data-cancel-button="<%=t("dialog.cancel")%>" data-method="delete" rel="nofollow"><%=t("dictionary.remove")%></a>
      <br/><br/>
    <% end %>

    <%unless @icode.code.nil? %>
      <p class="form_legend"><%=t("icodes.registrationURL")%></p>
      <%= text_field_tag :registrationURL, @icode.invitation_url, :class=>'loep_input loep_input_center', :readonly => true  %>

      <p class="form_legend"><%=t("dictionary.type")%></p>
       <%= text_field_tag :permanent, @icode.readable_type, :class=>'loep_input loep_input_center', :readonly => true  %>

      <br/><br/>
      <p class="form_legend"><%=t("icodes.imessage_title")%></p>
      <%= text_area_tag :imessage, t("icodes.imessage", :loepURL => LOEP::Application.config.full_domain,:iURL => @icode.invitation_url, :rolName => @icode.role.readable).html_safe, :class=>'imessage' %>
      <p class="form_legend"><%=t("dictionary.email")%></p>
      <%= email_field_tag :email, nil, :class=>'loep_input icode_email' %>
      <br/>
      <input class="loep_button" name="send" type="submit" value="<%=t("dictionary.send")%>">
    <% end %>

  <%end%>

</div>