<div id="front_page_wrapper">
	<div id="frontpage_C1">
		<h1><%=t("frontpage.welcome")%></h1>
		<p><%=t("frontpage.description")%></p>
	</div>
	<div id="frontpage_C2">
		<div id="frontpage_A">
			<%= render 'home/login' %>
		</div>
		<div id="frontpage_B">
			<h1><%=t("frontpage.new_to_loep")%></h1>
			<%= link_to t("login.sign_up"), new_user_registration_path, :method => :get, :class => 'loep_button sign_up_button'  %>
		</div>
	</div>
</div>