<div id="home_header">
  <h1><%=t("frontpage.welcome")%></h1>
  <p><%=t("frontpage.description")%></p>
</div>

<% roleName = current_user.role_name %>
<% if ["SuperAdmin","Admin"].include? roleName %>
  <%= render 'home/homeadmin' %>
<% elsif current_user.role_name == "Reviewer" %>
  <%= render 'home/homereviewer' %>
<% else %>
  <%= render 'home/homeuser' %>
<% end %>

