<% embed ||= false %>
<% formOptions ||= @evaluation.getFormOptions %>
<% scale ||= @evaluation.getScale %>

<% if embed %>
  <%= render 'evaluations/common_partials/contexts', :f => f , :readonly => readonly, :contexts => {:user_context => ["all"]} %>
<% end %>

<% sections = Evaluations::Une71362Teacher.getSections %>

<% @evmethodItems.each_with_index do |item,i|  %>
  
  <% 
    nItem = i+1
    itemIndex = nil
    itemTitle = nil

    nSection = nil
    sectionTitle = nil
    sectionDescription = nil
    
    sections.each_with_index do |value,index|
      firstItem = 1
      index.times do |i|
        firstItem += sections[i]
      end
      lastItem = firstItem + (value-1)
      
      if nItem >= firstItem and nItem <= lastItem
        nSection = (index+1)
        itemIndex = nItem-firstItem+1
        if nItem == firstItem
          sectionTitle = nSection.to_s + ". " + I18n.t("evmethods.une71362_teacher.section" + nSection.to_s + ".name")
          sectionDescription = I18n.t("evmethods.une71362_teacher.section" + nSection.to_s + ".description", default: "")
        end
        break
      end
    end
   
    itemTitle = item[:name]
    itemTitle = (nSection.to_s + "." + itemIndex.to_s + ". " + itemTitle) unless nSection.nil? or itemIndex.nil?
  %>

  <div class="survey_block" item="<%=nItem%>">
    <% unless sectionTitle.blank? %>
      <p class="survey_question_group_title"><%=sectionTitle%></p>
    <% end %>
    <% unless sectionDescription.blank? %>
      <p class="survey_question_group_subtitle"><%=sectionDescription%></p>
    <% end %>

    <% case item[:type] %>
    <% when "integer" %>
      <%= render 'evaluations/common_partials/item_integer', :f => f, :readonly => readonly, :formOptions => formOptions, :item => item, :nItem => nItem, :itemTitle => itemTitle, :scale => scale %>
    <% when "text" %>
      <%= render 'evaluations/common_partials/item_text', :f => f, :readonly => readonly, :formOptions => formOptions, :item => item, :nItem => itemIndex %>
    <% else %>
    <% end %>
    
  </div>

<% end %>

<div class="survey_block">
  <p class="survey_question_group_title"> </p>
</div>

<%= render 'evaluations/common_partials/common_items', :f => f , :readonly => readonly %>
<%= render 'evaluations/common_partials/item_integer_js', :f => f , :readonly => readonly %>