<table cellspacing='0' class="loep_table">
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Assign</th>
    <th class="longhead">View as reviewer</th>
    <th></th>
    <th></th>
  </tr>
  <% @los.each do |lo| %>
    <tr>
      <td><a href="<%=lo_path(lo)%>"><%= lo.name %></a></td>
      <td class="tdcenter">
        <a target="_blank" href="<%=lo.url%>"><span class="glyphicon glyphicon-share"></span></a>
      </td>
      <td class="tdcenter tdrshow">
        <a href="<%=new_assignment_path_for(lo.id,nil)%>"><span class="glyphicon glyphicon-time"></span></a>
      </td>
      <td class="tdcenter tdrshow">
        <a href="<%=rlo_path(lo)%>"><span class="glyphicon glyphicon-eye-open"></span></a>
      </td>
      <td class="tdcenter tdedit">
          <a href="<%=edit_lo_path(lo)%>"><span class="glyphicon glyphicon-edit"></span> Edit</a>
      </td>
      <td class="tdcenter tddestroy">
        <a href="<%=lo_path(lo)%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><span class="glyphicon glyphicon-trash"></span> Remove</a>
      </td>
    </tr>
  <% end %>
</table>