<% rL = @los.length %>
<% if rL === 0 %>
  <%= render '/layouts/emptytable', :resources => "learning objects" %>
<% else %>
  <div class="loep_table_tools">
    <a id="automatic_assign_los">
      <div class="loep_tool_button">
        <span class="glyphicon glyphicon-time"></span><span class="glyphicon glyphicon-user"></span>
        <span class="loep_tool_text">Automatic Assignments</span>
      </div>
    </a>
    <a id="assign_los">
      <div class="loep_tool_button">
        <span class="glyphicon glyphicon-time"></span>
      </div>
    </a>
    <a id="remove_los">
      <div class="loep_tool_button">
        <span class="glyphicon glyphicon-trash"></span>
      </div>
    </a>
  </div>
  <table cellspacing='0' class="loep_table">
    <tr>
      <th><input type="checkbox" class="checkalllos" value="all"/></th>
      <th>Name</th>
      <th>Url</th>
      <th>Assign</th>
      <th class="longhead">View as reviewer</th>
      <th></th>
      <th></th>
    </tr>
    <% @los.each do |lo| %>
      <tr>
        <td class="tdcenter">
          <input type="checkbox" class="checklo" value="<%=lo.id%>"/>
        </td>
        <td>
          <a href="<%=lo_path(lo)%>"><%= lo.name %></a>
        </td>
        <td class="tdcenter">
          <a target="_blank" href="<%=lo.url%>"><span class="glyphicon glyphicon-share"></span></a>
        </td>
        <td class="tdcenter tdrshow">
          <a href="<%=new_assignment_path_for(lo.id,nil)%>"><span class="glyphicon glyphicon-time"></span></a>
        </td>
        <td class="tdcenter tdrshow">
          <a href="<%=rlo_path(lo)%>"><span class="glyphicon glyphicon-eye-open"></span></a>
        </td>
        <td class="tdcenter tdedit">
            <a href="<%=edit_lo_path(lo)%>"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </td>
        <td class="tdcenter tddestroy">
          <a href="<%=lo_path(lo)%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><span class="glyphicon glyphicon-trash"></span> Remove</a>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<script type="text/javascript">

  var checkedLos = 0;

  $(document).ready(function(){

    $("input:checkbox.checklo").change(function(){
        var lotr = $(this).parent().parent();
        if(this.checked) {
          checkedLos++;
          $(lotr).addClass("loeprowselected");
        } else {
          checkedLos--;
          $(lotr).removeClass("loeprowselected");
           $("input:checkbox.checkalllos").prop("checked",false);
        }

        if(checkedLos===1){
          //First... show toolbar
          // $("div.loep_table_tools").slideDown();
        } else if(checkedLos===0){
          //Hide toolbar
          // $("div.loep_table_tools").slideUp();
        }
    });

    $("input:checkbox.checkalllos").change(function(){
      if(this.checked) {
        $("input:checkbox.checklo").prop("checked",true);
        $("input:checkbox.checklo").parent().parent().addClass("loeprowselected");
      } else {
        $("input:checkbox.checklo").prop("checked",false);
        $("input:checkbox.checklo").parent().parent().removeClass("loeprowselected");
      }
    });

    //Toolbar actions

    $("#assign_los").click(function(){
      var lo_ids = getSelectedLos();
      if(lo_ids.length===0){
        _showLOEPDialog("You have not selected any item.", false);
        return;
      }
      var url = _createURL("/assignments/new",[["lo_ids", lo_ids]]);
      window.top.location= url;
    });

     $("#automatic_assign_los").click(function(){
      var lo_ids = getSelectedLos();
      if(lo_ids.length===0){
        var url = "/automatic_assignments/new";
      } else {
        var url = _createURL("/automatic_assignments/new",[["lo_ids", lo_ids]]);
      }
      window.top.location= url;
    });

    $("#remove_los").click(function(){
      var lo_ids = getSelectedLos();
      if(lo_ids.length===0){
        _showLOEPDialog("You have not selected any item.", false);
        return;
      }

     _showLOEPDialog("Are you sure?", true, function(result){
        if(result==true){
          var lo_ids = getSelectedLos();
          if(lo_ids.length===0){
            return;
          }
          var url = _createURL("/los/remove",[["lo_ids", lo_ids]]);
          window.top.location= url;
        }
      });
    });

  });

  var getSelectedLos = function(){
    var lo_ids = [];
    $("input:checkbox.checklo:checked").each(function(index,input){
      lo_ids.push($(input).attr("value"));
    });
    return lo_ids;
  }

  var _createURL = function(base,objects){
    var url = base;
    $(objects).each(function(index,obj){

      if((typeof obj != "object")||(typeof obj.length != "number")){
        return;
      }

      if (index==0) {
        url = url + "?"
      } else {
        url = url + "&"
      }

      url = url + obj[0] + "="

      $(obj[1]).each(function(index,value){
        if (index!=0) {
          url = url + ","
        }
        url = url + value
      });
    });

    return url;
  }



</script>