<% fullmessage ||= nil %>
<% showTools ||= false %>
<% showToolActions = (local_assigns[:showToolActions].nil?) ? showTools : local_assigns[:showToolActions] %>
<% displayedEntries ||= 'auto' %>
<% download ||= false %>

<% rL = @los.length %>
<% if rL === 0 %>
  <%= render '/application/emptytable', :resources => t("los.name.plural").downcase, :fullmessage => fullmessage %>
<% else %>
  <% if showToolActions %>
  <div class="loep_table_tools">
    <a id="stat_los">
      <div class="loep_tool_button">
        <span class="glyphicon glyphiconfull charts"></span>
        <span class="loep_tool_text"><%=t("dictionary.statistics")%></span>
      </div>
    </a>
    <a id="compare_los">
      <div class="loep_tool_button">
        <span class="glyphicon glyphiconfull vector_path_polygon"></span>
        <span class="loep_tool_text"><%=t("dictionary.compare")%></span>
      </div>
    </a>
    <a id="automatic_assign_los">
      <div class="loep_tool_button">
        <span class="glyphicon glyphicon-time"></span><span class="glyphicon glyphicon-user"></span>
        <span class="loep_tool_text"><%=t("menu.actions.amatching")%></span>
      </div>
    </a>
    <a id="assign_los">
      <div class="loep_tool_button">
        <span class="glyphicon glyphicon-time"></span>
      </div>
    </a>
    <a id="remove_los">
      <div class="loep_tool_button">
        <span class="glyphicon glyphicon-trash"></span>
      </div>
    </a>
  </div>
  <% end %>
  <table id="los_table" cellspacing='0' class="loep_table">
    <thead>
      <tr>
        <% if showToolActions %>
        <th><input type="checkbox" class="checkalllos" autocomplete="off" value="all"/></th>
        <% end %>
        <th><%=t("dictionary.name")%></th>
        <th><%=t("dictionary.url").humanize%></th>
        <th><%=t("actions.assign")%></th>
        <th class="longhead"><%=t("actions.view_as_reviewer")%></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @los.each do |lo| %>
      <tr>
        <% if showToolActions %>
        <td class="tdcenter">
          <input type="checkbox" class="checklo" autocomplete="off" value="<%=lo.id%>"/>
        </td>
        <% end %>
        <td>
          <a href="<%=lo_path(lo)%>"><%= lo.name %></a>
        </td>
        <td class="tdcenter">
          <a target="_blank" href="<%=lo.url%>"><span class="glyphicon glyphicon-share"></span></a>
        </td>
        <td class="tdcenter tdrshow">
          <a href="<%=new_assignment_path_for(lo.id,nil)%>"><span class="glyphicon glyphicon-time"></span></a>
        </td>
        <td class="tdcenter tdrshow">
          <a href="<%=rlo_path(lo)%>"><span class="glyphicon glyphicon-eye-open"></span></a>
        </td>
        <td class="tdcenter tdedit">
            <a href="<%=edit_lo_path(lo)%>"><span class="glyphicon glyphicon-edit"></span> <%=t("dictionary.edit")%></a>
        </td>
        <td class="tdcenter tddestroy">
          <a href="<%=lo_path(lo)%>" data-confirm="<%=t("dictionary.are_you_sure")%>" data-ok-button="<%=t("dialog.ok")%>" data-cancel-button="<%=t("dialog.cancel")%>" data-method="delete" rel="nofollow"><span class="glyphicon glyphicon-trash"></span> <%=t("dictionary.remove")%></a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if download and @los.length > 0%>
  <p class="link_wrapper"><%= render '/los/downloadlink' %></p>
<% end %>

<% if showTools %>

<script type="text/javascript">

  //Store the ids
  //selectedLOs[lo_id] = lo_id
  var selectedLOs = {};

  $(document).ready(function(){

    <%if showToolActions %>

    //////////////////
    // Table Basics
    //////////////////

    $("input:checkbox.checklo").change(function(){
        var lotr = $(this).parent().parent();
        var loId = $(this).attr("value");

        if(this.checked) {
          selectedLOs[loId] = loId;
          $(lotr).addClass("loeprowselected");
        } else {
          delete selectedLOs[loId];
          $(lotr).removeClass("loeprowselected");
          $("input:checkbox.checkalllos").prop("checked",false);
        }
    });

    $("input:checkbox.checkalllos").change(function(){
      if(this.checked){
        $("input:checkbox.checklo").prop("checked",true);
        $("input:checkbox.checklo").parent().parent().addClass("loeprowselected");
        $("input:checkbox.checklo").each(function(index,input){
          var loId = $(input).attr("value");
          selectedLOs[loId] = loId;
        });
      } else {
        $("input:checkbox.checklo").prop("checked",false);
        $("input:checkbox.checklo").parent().parent().removeClass("loeprowselected");
        selectedLOs = {};
      }
    });

    //////////////////
    //Toolbar Actions
    //////////////////

     $("#stat_los").click(function(){
      var lo_ids = getSelectedLos();
      if(lo_ids.length===0){
        _showLOEPDialog('<%t("dictionary.no_item_selected")%>', false);
        return;
      }
      var url = LOEP.Main.createURL("/los/stats",[["lo_ids", lo_ids]]);
      window.top.location= url;
    });

     $("#compare_los").click(function(){
      var lo_ids = getSelectedLos();
      if(lo_ids.length===0){
        _showLOEPDialog('<%t("dictionary.no_item_selected")%>', false);
        return;
      }
      var url = LOEP.Main.createURL("/los/compare",[["lo_ids", lo_ids]]);
      window.top.location= url;
    });

    $("#assign_los").click(function(){
      var lo_ids = getSelectedLos();
      if(lo_ids.length===0){
        _showLOEPDialog('<%t("dictionary.no_item_selected")%>', false);
        return;
      }
      var url = LOEP.Main.createURL("/assignments/new",[["lo_ids", lo_ids]]);
      window.top.location= url;
    });

     $("#automatic_assign_los").click(function(){
      var lo_ids = getSelectedLos();
      if(lo_ids.length===0){
        var url = "/automatic_assignments/new";
      } else {
        var url = LOEP.Main.createURL("/automatic_assignments/new",[["lo_ids", lo_ids]]);
      }
      window.top.location= url;
    });

    $("#remove_los").click(function(){
      var lo_ids = getSelectedLos();
      if(lo_ids.length===0){
        _showLOEPDialog('<%t("dictionary.no_item_selected")%>', false);
        return;
      }

     _showLOEPDialog('<%t("dictionary.are_you_sure")%>', true, function(result){
        if(result==true){
          var lo_ids = getSelectedLos();
          if(lo_ids.length===0){
            return;
          }
          var url = LOEP.Main.createURL("/los/remove",[["lo_ids", lo_ids]]);
          window.top.location= url;
        }
      });
    });

    <% end %>


    //////////////////
    // Table Sorter
    //////////////////

    <%if displayedEntries == "auto" %>
      var iDisplayLength = LOEP.Storage.get("LosTable_iDisplayLength") || -1;
    <% else %>
      var iDisplayLength = <%=displayedEntries%>;
    <% end %>

    var bSortableArray;
    var bSearchable;

    <%if showToolActions %>
      bSortableArray = [ 0,2,3,4,5,6 ];
      bSearchable = [ 0,2,3,4,5,6 ];
    <% else %>
      bSortableArray = [ 1,2,3,4,5 ];
      bSearchable = [ 1,2,3,4,5 ];
    <% end %>

    //DOC: http://datatables.net
    var losTable = $("#los_table").dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "aaSorting": [[ 1, "asc" ]],
      "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': bSortableArray },
          { "bSearchable": false, "aTargets": bSearchable }
      ],
      "sDom": '<"H"lfr><"F"ip>t',
      "iDisplayLength": iDisplayLength,
      "oLanguage": { <%= render "application/oLanguage"%> }
    });

    //DataTable events: http://datatables.net/docs/DataTables/1.9.4/#page

    //Draw event, fired whenever the table is redrawn on the page, at the same point as fnDrawCallback. This may be useful for binding events or performing calculations when the table is altered at all.
    $(losTable).on('draw', function(e){
      $("input:checkbox.checkalllos").prop("checked",false);
      $("input:checkbox.checkalllos").trigger("change");
    });

    <%if displayedEntries == "auto" %>
    $('#los_table_length').on('change', function(e){
      var iDisplayLength = parseInt($(this).find("select").val());
      LOEP.Storage.add("LosTable_iDisplayLength",iDisplayLength);
    });
    <% end %>

  });

  /* Select only visible elements */
  var getSelectedLos = function(){
    var lo_ids = [];
    $("input:checkbox.checklo:checked").each(function(index,input){
      lo_ids.push($(input).attr("value"));
    });
    return lo_ids;
  };

  // var getSelectedLos = function(){
  //   return Object.keys(selectedLOs);
  // };

</script>

<% end %>