<div class="show_wrapper">
  <div class="rshow_wrapper">
    <h2><%=@lo.name%></h2>
    </br>

    <p class="show_legend">URL</p>
    <p class="show_sublegend">Click on the URL shown below to access the Learning Object</p>
    <a target="_blank" href="<%=@lo.url%>"><p class="show_value"><%=@lo.url%></p></a>

    <% nAssignments = @assignments.length %>
    <% if nAssignments > 0 %>
      </br>
      </br>
      <h1 class="loep_title loep_title_min">Your Assignment<%="s" if @assignments.length > 1%></h1>
      <%= render '/assignments/rindex', :removeEvColumn => true, :showDescription => true %>
    <% end %>
    <% if @evmethods.length > 0 %>
      <p class="show_legend evaluation_title">Evaluation Methods</p>
      <%= render '/evmethods/rindex' %>
      </br>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

  });
</script>