<% adminMode = (@represented.nil? and iamAdmin?) %>

<div class="show_wrapper">
  <div class="rshow_wrapper">
    <h2><%=@lo.name%></h2>
    <p class="space_medium"></p>

    <p class="show_sublegend">Click on the URL shown below to access the Learning Object</p>
    <p class="show_legend"><span class="show_legend">URL: </span> <a target="_blank" href="<%=@lo.url%>"><span class="show_value"><%=@lo.url%></span></a></p>

    <% nAssignments = @assignments.length %>
    <% if nAssignments > 0 %>
      <p class="space_medium"></p>
      <h1 class="loep_title loep_title_min">
        <% if adminMode %>
          All Assignments
        <% else %>
          <%= @represented.nil? ? "Your" : @represented.name %> Pending Assignment<%="s" if @assignments.length > 1%>
        <% end %>
      </h1>
      <%= render '/assignments/rindex', :showReviewer => adminMode, :showEvaluationButton => !adminMode, :showDescription => true %>
    <% end %>

    <p class="space_medium"></p>
    <h2>Learning Object Information</h2>
    <p class="space_small"></p>
    <%= render 'info' %>
    <p class="space_medium"></p>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

  });
</script>