<% adminMode = (@represented.nil? and iamAdmin?) %>

<div class="show_wrapper">
  <div class="rshow_wrapper">
    <h2><%=@lo.name%></h2>
    <p class="space_medium"></p>

    <p class="show_sublegend">Click on the URL shown below to access the Learning Object</p>
    <p class="show_legend"><span class="show_legend">URL: </span> <a target="_blank" href="<%=@lo.url%>"><span class="show_value"><%=@lo.url%></span></a></p>

    <% nAssignments = @assignments.length %>
    <% if nAssignments > 0 %>
      <p class="space_medium"></p>
      <h1 class="loep_title loep_title_min">
        <% if adminMode %>
          All Assignments
        <% else %>
          <%= @represented.nil? ? "Your" : @represented.name %> Pending Assignment<%="s" if @assignments.length > 1%>
        <% end %>
      </h1>
      <%= render '/assignments/rindex', :showReviewer => adminMode, :showEvaluationBigButton => !adminMode, :showDescription => true %>
    <% end %>

    <p class="space_medium"></p>
    <h1 class="loep_title loep_title_min">Learning Object Information</h1>
    <p class="space_small"></p>
    <div class="identationNone">
      <%= render 'info' %>
    </div>

    <% if can?(:evaluate, @lo) %>
      <p class="space_large"></p>
      <h1 class="loep_title loep_title_min">
        Available Evaluation Methods
      </h1>
      <%= render '/evmethods/rindex', :showReviewer => adminMode %>
    <% end %>

    <% if @evaluations.length > 0 %>
      <p class="space_medium"></p>
      <% if adminMode %>
          <h1 class="loep_title loep_title_min"> All Evaluations </h1>
          <%= render '/evaluations/index' %>
      <% else %>
          <h1 class="loep_title loep_title_min"><%= @represented.nil? ? "Your" : @represented.name %> Evaluation<%="s" if @evaluations.length > 1%></h1>
          <%= render '/evaluations/rindex' %>
      <% end %>
    <% end %>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

  });
</script>