<% @params ||= {} %>

<form accept-charset="UTF-8" action="/los/search" method="post">

	<input name="utf8" type="hidden" value="✓">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

	<div class="resources_search">
		<input name="query" class="resources_search_input" type="text" placeholder="<%=t("actions.search")%>" value="<%=@params["query"]%>" autocomplete="off">
		<button class="resources_search_button loep_search_button">
			<img class="resources_search_button_img" src="/assets/gsearch.png">
		</button>
	</div>

	<% if can?(:performQueryStatements, nil) %>
	<div class="search_field_wrapper">
		<p class="search_field">
			<input name="queryStatement" type="checkbox" value="1" <%=@params["queryStatement"].nil? ? "" : "checked='checked'"=%>>
		    <span><%=t("los.search.sql.description")%></span><br/>
		    <span class="queryExample"><%=t("los.search.sql.example", :example => "\"los.hasText=true and los.hasVideos=false\"")%></span>
		</p>
	</div>
	<% end %>

	<div class="search_field_wrapper">
		<p class="search_field">
			<span class="search_field_title"><%=t("words.repository")%>:</span> 
			<input name="repository" class="loep_input loep_search_input" value="<%=@params["repository"]%>"/>
		</p>
	</div>

	<div class="search_field_wrapper">
		<div class="form_checkbox_wrapper">
	      <p class="search_field">
			<span class="search_field_title"><%=t("los.search.search_with")%>:</span> 
		  </p>
			<table class="loep_table_form">
		      <tbody><tr>
		        <td>
		        	<input name="hasText" type="checkbox" value="1" <%=@params["hasText"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.text.plural")%></span>
		        </td>
		        <td>
		        	<input name="hasImages" type="checkbox" value="1" <%=@params["hasImages"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.image.plural")%></span>
		        </td>
		        <td>
		        	<input name="hasVideos" type="checkbox" value="1" <%=@params["hasVideos"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.video.plural")%></span>
		        </td>
		        <td>
		        	<input name="hasAudios" type="checkbox" value="1" <%=@params["hasAudios"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.audio.plural")%></span>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<input name="hasQuizzes" type="checkbox" value="1" <%=@params["hasQuizzes"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.quiz.plural")%></span>
		        </td>
		        <td>
		        	<input name="hasWebs" type="checkbox" value="1" <%=@params["hasWebs"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.web.plural")%></span>
		        </td>
		        <td>
		        	<input name="hasFlashObjects" type="checkbox" value="1" <%=@params["hasFlashObjects"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.flash_object.plural")%></span>
		        </td>
		        <td>
		        	<input name="hasApplets" type="checkbox" value="1" <%=@params["hasApplets"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.applet.plural")%></span>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<input name="hasDocuments" type="checkbox" value="1" <%=@params["hasDocuments"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.document.plural")%></span></td>
		        <td>
		        	<input name="hasFlashcards" type="checkbox" value="1" <%=@params["hasFlashcards"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.flashcard.plural")%></span>
		        </td>
		        <td>
		        	<input name="hasVirtualTours" type="checkbox" value="1" <%=@params["hasVirtualTours"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.virtual_tour.plural")%></span>
		        </td>
		        <td>
		        	<input name="hasEnrichedVideos" type="checkbox" value="1" <%=@params["hasEnrichedVideos"].nil? ? "" : "checked='checked'"=%>>
		        	<span><%=t("words.enriched_video.plural")%></span>
		        </td>
		      </tr>
		      </tbody>
	  		</table>
	    </div>
	</div>

	<%if @evmethods.length > 0 %>
	<div class="search_field_wrapper">
		<p class="search_field">
			<span class="search_field_title"><%=t("los.search.search_evaluated_with")%>:</span> 
		</p>
		<select class="loep_input" multiple="multiple" name="evmethods_yes[]">
			<%@evmethods.each do |evmethod|%>
				<option value="<%=evmethod.id=%>" <%=(!@params["evmethods_yes"].nil? and @params["evmethods_yes"].include?(evmethod.id.to_s)) ? "selected='selected'" : ""%>><%=evmethod.name%></option>
			<%end%>
		</select>
	</div>
	<div class="search_field_wrapper">
		<p class="search_field">
			<span class="search_field_title"><%=t("los.search.search_no_evaluated_with")%>:</span> 
		</p>
		<select class="loep_input" multiple="multiple" name="evmethods_no[]">
			<%@evmethods.each do |evmethod|%>
				<option value="<%=evmethod.id=%>" <%=(!@params["evmethods_no"].nil? and @params["evmethods_no"].include?(evmethod.id.to_s)) ? "selected='selected'" : ""%>><%=evmethod.name%></option>
			<%end%>
		</select>
	</div>
	<% end %>

	<div class="overall_search_button_wrapper">
		<input class="loep_button loep_search_button" type="submit" value='<%=t("los.search.submit")%>'/>
	</div>

</form>



<script type="text/javascript">
	$(document).ready(function(){
		$(document).on('click', 'select[multiple] option', function(){
			if($(this).attr("selected")=="selected"){
	         	$(this).removeAttr("selected");
	       	} else {
	       		$(this).attr("selected","selected");
	       	}			
		});
	});
</script>
