<div class="show_wrapper loep_form_wrapper">
  <h2><%=@lo.name%></h2>
  
  <% if iamAdmin? %>
    <%= link_to 'View as Reviewer', rlo_path(@lo) %> |
    <%= link_to 'Edit', edit_lo_path(@lo) %> |
    <a href="<%=new_assignment_path_for(@lo.id,nil)%>"> Add assignment </a>
  <% end %>

  </br>
  </br>

  <%= render 'info' %>

  <br/>
  <br/>

  <h1 class="loep_title"> Assignments </h1>
  <%= render '/assignments/index' %>

  <br/>
  <br/>

  <h1 class="loep_title"> Evaluations </h1>
  <%= render '/evaluations/index' %>

</div>