<div class="show_wrapper loep_form_wrapper">
  <h2><%=@lo.name%></h2>
  
  <% if iamAdmin? %>
    <%= link_to 'View as Reviewer', rlo_path(@lo) %> |
    <%= link_to 'Edit', edit_lo_path(@lo) %> |
    <a href="<%=new_assignment_path_for(@lo.id,nil)%>"> Add assignment </a> |
    <a href="<%=download_path(@lo,"xlsx")%>">Download</a> |
    <a href="<%=download_evs_path(@lo,"xlsx")%>">Download Evaluations</a>
  <% end %>

  <p class="space_medium"></p>

  <%= render 'info' %>

  <p class="space_large"></p>
  <h1 class="loep_title loep_title_min"> Assignments </h1>
  <%= render '/assignments/index' %>

  <p class="space_large"></p>
  <h1 class="loep_title loep_title_min"> Evaluations </h1>
  <%= render '/evaluations/index' %>

  <p class="space_large"></p>
  <h1 class="loep_title loep_title_min"> Metrics </h1>
  <% @scores = @lo.scoresc %>
  <%= render '/scores/index' %>

  <% @evmethods = @lo.getScoreEvmethods %>
  <% @evmethods.each do |evmethod| %>
    <%if @lo.hasBeenEvaluatedWithEvmethod(evmethod)%>
      <%if evmethod.getEvaluationModule.methods.include? :representationData%>
        <%@representationData = evmethod.getEvaluationModule.representationData(@lo)%>
        <p class="space_large"></p>
        <h1 class="loep_title loep_title_min">Summary of <%=evmethod.name%> evaluations </h1>
        <%= render evmethod.representation_path %>
      <%end%>
    <%end%>
  <% end %>

  <p class="space_medium"></p>

</div>