<div class="show_wrapper loep_form_wrapper">
  <h2><%=@lo.name%></h2>
  
  <% if iamAdmin? %>
    <%= link_to t("actions.view_as_reviewer"), rlo_path(@lo), :class=>'ralink' %> |
    <%= link_to t("dictionary.edit"), edit_lo_path(@lo), :class=>'ralink' %> |
    <%if can?(:destroy,@lo) %>
      <a class="ralink" href="<%=lo_path(@lo)%>" data-confirm="<%=t("dictionary.are_you_sure")%>" data-ok-button="<%=t("dialog.ok")%>" data-cancel-button="<%=t("dialog.cancel")%>" data-method="delete" rel="nofollow"><%=t("dictionary.remove")%></a> |
    <% end %>
    <a class="ralink" href="<%=new_assignment_path_for(@lo.id,nil)%>"><%=t("actions.add_assignment")%></a> |
    <a class="ralink" href="<%=download_path(@lo,"xlsx")%>"><%=t("actions.download")%></a> |
    <a class="ralink" href="<%=download_evs_path(@lo,"xlsx")%>"><%=t("actions.download_evaluations")%></a>
  <% end %>

  <p class="space_medium"></p>

  <%= render 'info' %>

  <p class="space_large"></p>
  <h1 class="loep_title loep_title_min"><%=t("assignments.name.plural")%></h1>
  <%= render '/assignments/index' %>

  <p class="space_large"></p>
  <h1 class="loep_title loep_title_min"><%=t("evaluations.name.plural")%></h1>
  <%= render '/evaluations/index' %>

  <p class="space_large"></p>
  <h1 class="loep_title loep_title_min"><%=t("metrics.name.plural")%></h1>
  <%= render '/scores/index' %>

  <%= render "/los/evaluationsRepresentation", :action => "show" %>

  <p class="space_medium"></p>
</div>