<div class="show_wrapper">
  <div class="rshow_wrapper">
    <h2><%=@lo.name%></h2>
    </br>
    </br>

    <p class="show_legend">URL</p>
    <p class="show_sublegend">Click on the URL shown below to access the Learning Object</p>
    <a target="_blank" href="<%=@lo.url%>"><p class="show_value"><%=@lo.url%></p></a>


    <p class="show_legend evaluation_title">Evaluation Methods</p>
    <button class="loep_button"  data-confirm="Not implemented yet" promptokalertdialog="true"><span class="glyphicon glyphicon-star-empty"></span> Evaluate with LORI</button>

  </div>

  </br>
  <% if iamAdmin? %>
    <%= link_to 'Back to LOs', los_path %>
  <% else %>
    <%= link_to "Home", home_path %>
  <% end %>
  
</div>

<script type="text/javascript">
  $(document).ready(function(){

  });
</script>