<p class="survey_title"> LORI 1.5 Evaluation Survey </p>

<% @LORIitems.each_with_index do |item,i| %>
  <%nItem = i+1%>
  <div class="survey_block">
    <p class="survey_question_title"><%=nItem%>. <%=item[0]%></p>
    <p class="survey_question_subtitle"><%=item[1]%></p>
    <div class="rating_wrapper">
      <div class="stars_wrapper">
        <span  class="hover-star_legend_left">Low</span>
        <%= f.radio_button "item" + nItem.to_s, "1", :class=>'hover-star', :title => "1", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "2", :class=>'hover-star', :title => "2", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "3", :class=>'hover-star', :title => "3", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "4", :class=>'hover-star', :title => "4", :readonly => readonly ? "true" : nil %>
        <%= f.radio_button "item" + nItem.to_s, "5", :class=>'hover-star', :title => "5", :readonly => readonly ? "true" : nil %>
        <span  class="hover-star_legend_right">High</span>
      </div>
      <div class="na-check">
        <span>N/A</span>
        <%= f.radio_button "item" + nItem.to_s, "-1", :class=>'na-input', :title => "N/A", :readonly => readonly ? "true" : nil %>
      </div>
      <div class="hover-start_text">
        <% if readonly %>
          <% iValue = @evaluation.send("item" + nItem.to_s)%>
          <% if iValue===-1 %>
            <div class='numberCircle numberCircleSmall'>
            <span><%="N/A"%></span>
          <% else %>
            <div class='numberCircle'>
            <span><%=iValue %></span>
          <% end %>
          </div>
        <% end %>
      </div>
      <div class="remove_hover-start-value"><span class="glyphicon glyphicon glyphicon-remove"></span> Remove</div>
    </div>
  </div>
<% end %>

<div class="survey_block">
  <p class="survey_question_title">Additional Comments</p>
  <p class="survey_question_subtitle">Please, write here any further comments that you consider relevant and/or necessary for this evaluation</p>
  <%= f.text_area :comments, :class=>'loep_input optionalInput', :readonly => readonly ? "true" : nil %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    <% if !readonly %>

      $('.hover-star').rating({
          focus: function(value, link){
              var ratingWrapper = $("div.rating_wrapper").has(this);

              var tip = $(ratingWrapper).find("div.hover-start_text");
              var title = $(link).attr("ititle");
              if(typeof title == "undefined"){
                title = $(link).attr("title");
                $(link).removeAttr("title");
                $(link).attr("ititle",title);
              }
              var text = "<div class='numberCircle'>"+title+"</div>";
              tip.html(text);
          },
          blur: function(value, link){
              var ratingWrapper = $("div.rating_wrapper").has(this);
              var tip = $(ratingWrapper).find("div.hover-start_text");
              updateCircle(tip);
          },
          callback: function(value, link){
            if(typeof value == "undefined"){
              return;
            }

            var ratingWrapper = $("div.rating_wrapper").has(this);

            var tip = $(ratingWrapper).find("div.hover-start_text");
            $(tip).attr("selectedValue",value);

            var remove = $(ratingWrapper).find("div.remove_hover-start-value");
            $(remove).fadeIn().css("display","inline-block");

            var naInput = $(ratingWrapper).find("input.na-input");
            $(naInput)[0].checked = false
            $(naInput).trigger("change");
          }
      });
  
      $(document).on('click', 'div.remove_hover-start-value', function(event){
          var ratingWrapper = $("div.rating_wrapper").has(this);

          var tip = $(ratingWrapper).find("div.hover-start_text");
          $(tip).removeAttr("selectedValue");

          var ratingCancelButton = $(ratingWrapper).find("div.rating-cancel > a");
          $(ratingCancelButton).trigger("click");

          var naInput = $(ratingWrapper).find("input.na-input");
          $(naInput)[0].checked = false
          $(naInput).trigger("change");

          $(tip).fadeOut(function(){
            $(tip).html("");
            $(tip).css("display","inline-block");
          });

          $(this).fadeOut();
      });

      $(document).on('change', 'input.na-input', function(event){
        if(this.checked){
          var ratingWrapper = $("div.rating_wrapper").has(this);

          var ratingCancelButton = $(ratingWrapper).find("div.rating-cancel > a");
          $(ratingCancelButton).trigger("click")

          var tip = $(ratingWrapper).find("div.hover-start_text");
          $(tip).attr("selectedValue",$(this).attr("title"));
          updateCircle(tip);

          var remove = $(ratingWrapper).find("div.remove_hover-start-value");
          $(remove).fadeIn().css("display","inline-block");
        }
      });

      var updateCircle = function(starTextDOM){
        var selectedValue = $(starTextDOM).attr("selectedValue");
        if(selectedValue){
          var classes = 'numberCircle';
          if(selectedValue == "N/A"){
            classes = classes + " numberCircleSmall";
          }
          var text = "<div class='"+ classes +"'><span>"+selectedValue+"</span></div>";
        }
        $(starTextDOM).html(text || '');
      };

      //Load UI when editing evaluations
      $(".rating_wrapper").each(function(index,ratingWrapper){
        $(ratingWrapper).find("input:checked").trigger("change");
        var tip = $(ratingWrapper).find("div.hover-start_text");
        updateCircle(tip);
      });

    <% else %>
      $('.hover-star').rating();
      $('.hover-star').rating(
        'readOnly'
      );
    <% end %>

  });
</script>