<div class="show_wrapper loep_form_wrapper">
  <h2><%=@app.name%></h2>
  
  <% if can?(:update,@app) %>
    <%= link_to t("dictionary.edit"), edit_app_path(@app) %>
  <% end %>

  <p class="space_small"></p>

  <%= form_for(@app) do |f| %>
    <p class="show_legend"><%=t("dictionary.name")%></p>
    <p class="show_value"><%=@app.name%></p>

    <p class="space_small"></p>

    <% if !@app.user.nil? %>
      <p class="show_legend"><%=t("dictionary.owner")%></p>
      <a href="<%=user_path(@app.user)=%>"><p class="show_value"><%=@app.user.name%></p></a>
    <% end %>

    <p class="space_small"></p>

    <% unless @app.auth_token.nil? %>
      <p class="form_legend"><%=t("dictionary.auth_token")%></p>
      <%= f.text_field :auth_token, :class=>'loep_input', :readonly => true %>
    <% end %>

    <p class="space_small"></p>

    <p class="form_legend"><%=t("dictionary.auth_tokens_active")%> | <%= link_to I18n.t("session_tokens.message.new_fast"), app_new_session_token_path(@app) %> | <%= link_to I18n.t("session_tokens.message.new"), new_session_token_path() %></p>
    <% sessionTokens = @app.valid_session_tokens.first(10) %>
    <% unless sessionTokens.blank? %>
      <% sessionTokens.each do |s| %>
        <div class="session_token_wrapper">
          <p>
            <%=text_field_tag nil, s.auth_token, class: 'loep_input', readonly: true %>
            <% if s.permanent %>
              <span title="Permanent" class="glyphicon glyphiconfull globeb"></span>
            <% else %>
              <span title="Expires in less than <%=s.hours_to_expire%> hours" class="glyphicon glyphiconfull leaf"></span>
            <% end %>
          </p>
          <p class="session_token_actions">
            <%if can?(:destroy,s) %>
              <a class="ralink" href="<%=session_token_path(s)%>" data-confirm="<%=t("dictionary.are_you_sure")%>" data-ok-button="<%=t("dialog.ok")%>" data-cancel-button="<%=t("dialog.cancel")%>" data-method="delete" rel="nofollow"><%=t("dictionary.remove")%></a>
            <% end %>
          </p>
        </div>
      <% end %>
    <% else %>
      <p><%=I18n.t("session_tokens.message.notokens")%></p>
    <% end %>
    <p class="space_small"></p>

    <%if !@app.callback.nil? %>
      <p class="show_legend"><%=t("dictionary.callback")%></p>
      <p class="show_value"><%=@app.callback%></p>
    <%end%>
  
  <% end %>

</div>