<p><%=t("devise.reset_password.hello", :user => @resource.email)%></p>

<p><%=t("devise.reset_password.a")%></p>

<p><%= link_to t("devise.reset_password.change_my_password"), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%=t("devise.reset_password.b")%></p>
<p><%=t("devise.reset_password.c")%></p>
