<p>
	<ul>
		<li><a target="_blank" href="http://github.com/agordillo/LOEP"><%=t("footer.main")%></a></li>
		<li><a target="_blank" href="http://github.com/agordillo/LOEP"><%=t("footer.repository")%></a></li>
		<li><a target="_blank" href="https://loepblog.wordpress.com/"><%=t("footer.blog")%></a></li>
		<% if user_signed_in? %>
			<li><a target="_blank" href="<%=t("survey.url")%>"><%=t("survey.title")%></a></li>
		<% end %>
	</ul>
</p>